

<!doctype html>
<html>
<head>
    <meta http-equiv="Content-type" content="application/json; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>小学、初中、高中英语学习方法_少儿英语学习网站 - vipabc青少年英语</title>
   
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    

   <link rel="canonical" href="http://junior.vipabc.com/Baike/Index"/>
    <link rel="stylesheet" type="text/css" href="http://junior.vipabc.com/Styles/css/normalize.css" />
     <link rel="stylesheet" type="text/css" href="http://junior.vipabc.com/Styles/css/base.css?v=20160811" />
    <link rel="stylesheet" type="text/css" href="http://junior.vipabc.com/Styles/css/head.css?v=20160811" /> 
    <link rel="stylesheet" href="http://source.vipabc.com/Ext/css/fonts/font-awesome-4.4.0/css/font-awesome.min.css" /> 
  
     <link rel="stylesheet" type="text/css" href="http://junior.vipabc.com/Styles/css/form.css?v=20160811" />
   
     <link rel="stylesheet" type="text/css" href="http://junior.vipabc.com/Styles/css/share.css?v=20160811" /> 
 
   <link rel="stylesheet" type="text/css" href="http://junior.vipabc.com/Styles/css/news_scroll.css?v=20160811" /> 
  
     <link rel="stylesheet" type="text/css" href="http://junior.vipabc.com/Styles/css/sidebar.css?v=20160811" />
  
   <link rel="stylesheet" type="text/css" href="http://junior.vipabc.com/Styles/css/vipabcUI.css?v=20160811" /> 
   
     <link rel="stylesheet" type="text/css" href="http://source.vipabc.com/Ext/js/video/video-js.css" /> 
 
    <link rel="stylesheet" type="text/css" href="http://junior.vipabc.com/Styles/css/fotorama.css" /> 
    <!-- modules style -->
     <link rel="stylesheet" type="text/css" href="http://junior.vipabc.com/Styles/css/modules.css?v=20160811" /> 
     <link rel="stylesheet" type="text/css" href="http://junior.vipabc.com/Styles/css/rangeslider.css" />
    <script src="http://junior.vipabc.com/Scripts/jquery-1.9.1.min.js" type="text/javascript"></script> 
   <script src="http://junior.vipabc.com/Scripts/jrshishui_ry.js" type="text/javascript"></script>
    <script src="http://junior.vipabc.com/Scripts/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
    <script src="http://junior.vipabc.com/Scripts/validate.js" type="text/javascript"></script> 
    <!-- WinResize js -->
  <script src="http://junior.vipabc.com/Scripts/js/vendors/WinResize.js" type="text/javascript"></script>
    
    
    <link rel="stylesheet" type="text/css" href="http://junior.vipabc.com/Styles/css/v-jr.min.css?v=20160811" />
    <!-- utility.js -->
  <script src="http://junior.vipabc.com/Scripts/js/utility.js"></script>
    <!-- video.js -->
  <script type="text/javascript" src="http://source.vipabc.com/Ext/js/video/video.js"></script>
    <script type="text/javascript">
        var url = wrapUrl("http://source.vipabc.com/Ext/js/video/video-js.swf");
        videojs.options.flash.swf = url;
    </script> 
  <script type="text/javascript" src="http://junior.vipabc.com/Scripts/framepage/js/baidu_analytics_201606.js"></script>
    <script type="text/javascript" src="http://junior.vipabc.com/Scripts/framepage/js/eloqua_analytics.js"></script>
   
    <script th:src="@{/assets/index/js/index.js}" type="text/javascript"></script>
    <script type="text/javascript" language="javascript">
    (function () {
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
    </script>
</head>
<body  oncontextmenu="return false" onselectstart="return false" ondragstart="return false" onbeforecopy="return false"  >
    <!-- old element javascript need -->
    <div class="header-float"></div>
    <div class="heaer-fixed"></div>
    <!-- old element javascript need -->

    <div class="v-jr-slide-wrap">
      
		<div th:replace="partial/header-new" class="header" style="width: auto;"></div>	
        <div class="v-jr-slide-box v-jr-clear" id="js-slide-box">
            <div class="v-jr-clear">
                <!-- Body Start -->
                 


  <link rel="stylesheet" type="text/css" href="http://junior.vipabc.com/Styles/css/baike/vipabcUI.css" />
 <link rel="stylesheet" type="text/css" href="http://junior.vipabc.com/Styles/css/baike/small_device.css" />  
 <link rel="stylesheet" type="text/css" th:href="@{/assets/index/css/base1.css}" />
<span data-current="Baike" class="current-page"></span>
<input type="hidden" id="categoryID" value="" />
<input type="hidden" id="page" value="1" />

<div class="weChat-img" style="height:0; overflow:hidden; text-align:center;"> <img src="" width="100%" alt=" " /> </div>
<div class="wrapper">
    <!-- banner -->
    <div class="banner-baike">
        <div class="inside">
            <a href="http://junior.vipabc.com/Baike/article/127" target="_blank"><img src="http://source.vipabc.com/Ext/images/website/junior/baike/4cc2a700-9049-4424-974d-f41bced0fd3d.jpg" alt="" width="100%" /></a>
            
        </div>
    </div>
    <!-- banner end -->
    <div class="clear"></div>
    <!-- nav -->
    <div class="nav-baike">
        <div class="inside">
            <ul class="nav-wrap">
                        <li class="nav-list" style="background-color:#0161A1;"><a href="http://junior.vipabc.com/Baike/Category/story" class="">睡前故事</a></li>
                        <li class="nav-list" style="background-color:#6C8DDA;"><a href="http://junior.vipabc.com/Baike/Category/xingquyingyu" class="">兴趣英语</a></li>
                        <li class="nav-list" style="background-color:#4DBA79;"><a href="http://junior.vipabc.com/Baike/Category/duihua" class="">情景对话</a></li>
                        <li class="nav-list" style="background-color:#88BC3F;"><a href="http://junior.vipabc.com/Baike/Category/qinzi" class="">教育热讯</a></li>
                        <li class="nav-list" style="background-color:#E67D96;"><a href="http://junior.vipabc.com/Baike/Category/meiriyici" class="">每日一词</a></li>
                        <li class="nav-list" style="background-color:#4AACC6;"><a href="http://junior.vipabc.com/Baike/Category/liuxue" class="">留学资讯</a></li>

            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
    <!-- nav end-->
    <!-- container -->
    <div class="container">
        <div class="inside">
            <div class="mobile-title">

                    <div class="crumb-baike"><a href="/">青少年英语/</a><a href="http://junior.vipabc.com/Baike/Index">学习百宝箱</a></div>
                <ul>
                    <li class="new selected ">
                        最新文章
                    </li>
                    <li class="hot">
                        热门文章
                    </li>
                </ul>
            </div>
            <div class="item-content">
                <div class="item" id="scrollHeight">
                        <div class="item-title"><h3><a href="/">青少年英语/</a><a href="http://junior.vipabc.com/Baike/Index">学习百宝箱/</a>最新文章</h3></div>


                    <div class="item-content">

                        <input type="hidden" id="LikeImageUrl" value="http://junior.vipabc.com/Images/baike/like_27x22.png" />
                        <input type="hidden" id="UnLikeImageUrl" value="http://junior.vipabc.com/Images/baike/like_gray27x22.png" />

                        <div class="pagination">
                          
                                <a href="http://junior.vipabc.com/Baike/p/1" class="pre">&lt;</a>
                			   <a href="" class="active">1</a>
                                        <a href="http://junior.vipabc.com/Baike/p/2">2</a>
                                        <a href="http://junior.vipabc.com/Baike/p/3">3</a>
                                        <a href="">......</a>
                                    <a href="http://junior.vipabc.com/Baike/p/40">40</a>


                                <a href="http://junior.vipabc.com/Baike/p/2" class="next">&gt;</a>
                        
                        </div>
                        <div class="clear"></div>
                        <ul id="blogList" class="art-list new">

                                    <li>
                                        <div class="art-banner"><a href="http://junior.vipabc.com/Baike/article/304" target="_blank"><img src=" http://source.vipabc.com/Ext/images/website/junior/baike/1300ef37-3c0b-43a1-81db-6871bd8c2437.jpg " alt="" /></a></div>
                                        <div class="art-topic">
                                            <span class="column col-word" style="background-color:#6C8DDA;">兴趣英语</span>

                                            <input type="hidden" id="LikeClickUrl304" value="/Baike/LoveCountAdd" />
                                            <input type="hidden" id="UnLikeClickUrl304" value="/Baike/LoveCountLose" />
                                            <div class="lession-like">

                                                <span class="like304 like" data-like="1" onclick="like(304)">
                                                    <img src="http://source.vipabc.com/Ext/images/website/junior/baike/home/like_gray27x22.png" alt="" width="22" />
                                                    <i style="display:none">48</i>
                                                </span>
                                                
                                            </div>

                                            <h4><a href="/Baike/article/304" target="_blank">常用初一上册英语单词表汇总</a></h4>
                                            <p class="intr-limited"  style="text-overflow: ellipsis;overflow:hidden;width:300px;">初一同学们需要掌握的词汇比起以往有所增多，教材上需要背诵的词汇也变得较多，面对压力，如何有效率的学习词汇就成了关键</p>
                                            <div class="tags-wrap">
                                                    <a href="/Baike/tag/29" class="tags">初中生英语</a>
                                            </div>
                                            <a href="/Baike/article/304" target="_blank" class="more">阅读更多</a>
                                            <div class="clear"></div>
                                        </div>

                                    </li>
                                    <li>
                                        <div class="art-banner"><a href="/Baike/article/303" target="_blank"><img src=" http://source.vipabc.com/Ext/images/website/junior/baike/9b33a6e5-b635-49b2-ac94-7b46bc55ecc1.jpg " alt="" /></a></div>
                                        <div class="art-topic">
                                            <span class="column col-word" style="background-color:#6C8DDA;">兴趣英语</span>

                                            <input type="hidden" id="LikeClickUrl303" value="/Baike/LoveCountAdd" />
                                            <input type="hidden" id="UnLikeClickUrl303" value="/Baike/LoveCountLose" />
                                            <div class="lession-like">

                                                <span class="like303 like" data-like="1" onclick="like(303)">
                                                    <img src="http://source.vipabc.com/Ext/images/website/junior/baike/home/like_gray27x22.png" alt="" width="22" />
                                                    <i style="display:none">10</i>
                                                </span>
                                                
                                            </div>

                                            <h4><a href="/Baike/article/303" target="_blank">初中常用s开头的英文单词</a></h4>
                                            <p class="intr-limited" style="text-overflow: ellipsis;overflow:hidden;width:300px;">现在初中同学需要掌握的单词量也越来越多，对于许多按照单词表来背单词的同学们来说了解一些单词表中的常用单词往往可以让自己在背诵单词时事半功倍</p>
                                            <div class="tags-wrap">
                                                    <a href="/Baike/tag/4" class="tags">单词拼写</a>
                                            </div>
                                            <a href="/Baike/article/303" target="_blank" class="more">阅读更多</a>
                                            <div class="clear"></div>
                                        </div>

                                    </li>
                                    <li>
                                        <div class="art-banner"><a href="/Baike/article/302" target="_blank"><img src=" http://source.vipabc.com/Ext/images/website/junior/baike/fc9aba53-ba74-4b3b-a17b-3719316eb425.jpg " alt="" /></a></div>
                                        <div class="art-topic">
                                            <span class="column col-word" style="background-color:#6C8DDA;">兴趣英语</span>

                                            <input type="hidden" id="LikeClickUrl302" value="/Baike/LoveCountAdd" />
                                            <input type="hidden" id="UnLikeClickUrl302" value="/Baike/LoveCountLose" />
                                            <div class="lession-like">

                                                <span class="like302 like" data-like="1" onclick="like(302)">
                                                    <img src="http://source.vipabc.com/Ext/images/website/junior/baike/home/like_gray27x22.png" alt="" width="22" />
                                                    <i style="display:none">30</i>
                                                </span>
                                                
                                            </div>

                                            <h4><a href="/Baike/article/302" target="_blank">夏天英文单词与夏天歇后语</a></h4>
                                            <p class="intr-limited" style="text-overflow: ellipsis;overflow:hidden;width:300px;">夏天是一个繁盛的季节，是一个热闹的季节，一个不用穿多少衣服出门的季节。</p>
                                            <div class="tags-wrap">
                                                    <a href="/Baike/tag/18" class="tags">情境英语</a>
                                            </div>
                                            <a href="/Baike/article/302" target="_blank" class="more">阅读更多</a>
                                            <div class="clear"></div>
                                        </div>

                                    </li>
                                    <li>
                                        <div class="art-banner"><a href="/Baike/article/301" target="_blank"><img src=" http://source.vipabc.com/Ext/images/website/junior/baike/04e432e5-f563-491c-aed3-71397a54791e.jpg " alt="" /></a></div>
                                        <div class="art-topic">
                                            <span class="column col-word" style="background-color:#6C8DDA;">兴趣英语</span>

                                            <input type="hidden" id="LikeClickUrl301" value="/Baike/LoveCountAdd" />
                                            <input type="hidden" id="UnLikeClickUrl301" value="/Baike/LoveCountLose" />
                                            <div class="lession-like">

                                                <span class="like301 like" data-like="1" onclick="like(301)">
                                                    <img src="http://source.vipabc.com/Ext/images/website/junior/baike/home/like_gray27x22.png" alt="" width="22" />
                                                    <i style="display:none">19</i>
                                                </span>
                                                
                                            </div>

                                            <h4><a href="/Baike/article/301" target="_blank">哪些单词很难将中文翻译成英文</a></h4>
                                            <p class="intr-limited" style="text-overflow: ellipsis;overflow:hidden;width:300px;">中国文化博大精深，同一句话不同的语气就能够说出不同的意思，英文在学习过之后我们发现它表达的意思是有限的</p>
                                            <div class="tags-wrap">
                                                    <a href="/Baike/tag/18" class="tags">情境英语</a>
                                            </div>
                                            <a href="/Baike/article/301" target="_blank" class="more">阅读更多</a>
                                            <div class="clear"></div>
                                        </div>

                                    </li>
                                    <li>
                                        <div class="art-banner"><a href="/Baike/article/300" target="_blank"><img src=" http://source.vipabc.com/Ext/images/website/junior/baike/c8f394b5-863b-4485-be04-4826c530ac9a.jpg " alt="" /></a></div>
                                        <div class="art-topic">
                                            <span class="column col-word" style="background-color:#6C8DDA;">兴趣英语</span>

                                            <input type="hidden" id="LikeClickUrl300" value="/Baike/LoveCountAdd" />
                                            <input type="hidden" id="UnLikeClickUrl300" value="/Baike/LoveCountLose" />
                                            <div class="lession-like">

                                                <span class="like300 like" data-like="1" onclick="like(300)">
                                                    <img src="http://source.vipabc.com/Ext/images/website/junior/baike/home/like_gray27x22.png" alt="" width="22" />
                                                    <i style="display:none">12</i>
                                                </span>
                                                
                                            </div>

                                            <h4><a href="/Baike/article/300" target="_blank">英文字母发音规律之元音字母</a></h4>
                                            <p class="intr-limited" style="text-overflow: ellipsis;overflow:hidden;width:300px;">英文字幕中，元音字母一般为五个，分别是a, e, i, o, u这五个字母，可别小看这五个元音字母，在不同的单词中发音也会有所差别</p>
                                            <div class="tags-wrap">
                                                    <a href="/Baike/tag/4" class="tags">单词拼写</a>
                                            </div>
                                            <a href="/Baike/article/300" target="_blank" class="more">阅读更多</a>
                                            <div class="clear"></div>
                                        </div>

                                    </li>
                                    <li>
                                        <div class="art-banner"><a href="/Baike/article/299" target="_blank"><img src=" http://source.vipabc.com/Ext/images/website/junior/baike/48da7ec7-16ca-4fc7-87cd-8cb16fde1e97.jpg" alt="" /></a></div>
                                        <div class="art-topic">
                                            <span class="column col-word" style="background-color:#6C8DDA;">兴趣英语</span>

                                            <input type="hidden" id="LikeClickUrl299" value="/Baike/LoveCountAdd" />
                                            <input type="hidden" id="UnLikeClickUrl299" value="/Baike/LoveCountLose" />
                                            <div class="lession-like">

                                                <span class="like299 like" data-like="1" onclick="like(299)">
                                                    <img src="http://source.vipabc.com/Ext/images/website/junior/baike/home/like_gray27x22.png" alt="" width="22" />
                                                    <i style="display:none">79</i>
                                                </span>
                                                
                                            </div>

                                            <h4><a href="/Baike/article/299" target="_blank">简单易学的英文儿童歌曲有哪些</a></h4>
                                            <p class="intr-limited" style="text-overflow: ellipsis;overflow:hidden;width:300px;">为了激发孩子学习英语的乐趣，从小时候的锻炼培养必不可少，听听英文儿童歌曲就是一个非常好的方法。</p>
                                            <div class="tags-wrap">
                                                    <a href="/Baike/tag/20" class="tags">儿童英语</a>
                                            </div>
                                            <a href="/Baike/article/299" target="_blank" class="more">阅读更多</a>
                                            <div class="clear"></div>
                                        </div>

                                    </li>
                        </ul>
                        <div class="clear"></div>
                       <!--  <div class="load-more">
                            <input type="hidden" id="PageNow" value="1" />
                            <span class="showMore">点击加载更多内容</span>

                        </div> -->
                    </div>
                </div>

            </div>
           <!--  <div class="item-right">
                <div class="item">
                    <div class="item-title"><h3>热门文章</h3></div>


                    <div class="item-content">
                        <ul class="art-list hot">
                                    <li>
                                        <div class="art-banner"><a href="/Baike/article/4" target="_blank"><img src="http://source.vipabc.com/Ext/images/website/junior/baike/255ecafe-1f9e-441f-be8e-802bf9ed092a.jpg" alt="" /></a></div>
                                        <div class="art-topic">
                                            <h4 class="hot-limited"><a href="/Baike/article/4" target="_blank">机场会话英语</a></h4>
                                            <span>情景对话</span>

                                            <input type="hidden" id="LikeClickUrl4" value="/Baike/LoveCountAdd" />
                                            <input type="hidden" id="UnLikeClickUrl4" value="/Baike/LoveCountLose" />

                                            <div class="lession-like">

                                                <span class="like4 like" data-like="1" onclick="like(4)">
                                                    <img src="http://source.vipabc.com/Ext/images/website/junior/baike/home/like_gray27x22.png" alt="" width="18" />
                                                    <i style="display:none">464</i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                    <li>
                                        <div class="art-banner"><a href="/Baike/article/192" target="_blank"><img src="http://source.vipabc.com/Ext/images/website/junior/baike/5ff4ca95-c955-4608-ae44-d2976d74fd6a.jpg" alt="" /></a></div>
                                        <div class="art-topic">
                                            <h4 class="hot-limited"><a href="/Baike/article/192" target="_blank">饱含寓意的睡前少儿英语故事三则</a></h4>
                                            <span>兴趣英语</span>

                                            <input type="hidden" id="LikeClickUrl192" value="/Baike/LoveCountAdd" />
                                            <input type="hidden" id="UnLikeClickUrl192" value="/Baike/LoveCountLose" />

                                            <div class="lession-like">

                                                <span class="like192 like" data-like="1" onclick="like(192)">
                                                    <img src="http://source.vipabc.com/Ext/images/website/junior/baike/home/like_gray27x22.png" alt="" width="18" />
                                                    <i style="display:none">682</i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                    <li>
                                        <div class="art-banner"><a href="/Baike/article/191" target="_blank"><img src="http://source.vipabc.com/Ext/images/website/junior/baike/4bfcb134-0e08-4507-aebe-4aa39e779ee6.jpg" alt="" /></a></div>
                                        <div class="art-topic">
                                            <h4 class="hot-limited"><a href="/Baike/article/191" target="_blank">幼儿英语水果名称大全</a></h4>
                                            <span>兴趣英语</span>

                                            <input type="hidden" id="LikeClickUrl191" value="/Baike/LoveCountAdd" />
                                            <input type="hidden" id="UnLikeClickUrl191" value="/Baike/LoveCountLose" />

                                            <div class="lession-like">

                                                <span class="like191 like" data-like="1" onclick="like(191)">
                                                    <img src="http://source.vipabc.com/Ext/images/website/junior/baike/home/like_gray27x22.png" alt="" width="18" />
                                                    <i style="display:none">615</i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                    <li>
                                        <div class="art-banner"><a href="/Baike/article/3" target="_blank"><img src="http://source.vipabc.com/Ext/images/website/junior/baike/bce11183-abc2-41e8-a8eb-a39de086d979.jpg" alt="" /></a></div>
                                        <div class="art-topic">
                                            <h4 class="hot-limited"><a href="/Baike/article/3" target="_blank">Word Whiz : 身体部位篇</a></h4>
                                            <span>每日一词</span>

                                            <input type="hidden" id="LikeClickUrl3" value="/Baike/LoveCountAdd" />
                                            <input type="hidden" id="UnLikeClickUrl3" value="/Baike/LoveCountLose" />

                                            <div class="lession-like">

                                                <span class="like3 like" data-like="1" onclick="like(3)">
                                                    <img src="http://source.vipabc.com/Ext/images/website/junior/baike/home/like_gray27x22.png" alt="" width="18" />
                                                    <i style="display:none">265</i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                    <li>
                                        <div class="art-banner"><a href="/Baike/article/5" target="_blank"><img src="http://source.vipabc.com/Ext/images/website/junior/baike/ae4522f7-eaa5-4f81-8b42-903f7778f189.jpg" alt="" /></a></div>
                                        <div class="art-topic">
                                            <h4 class="hot-limited"><a href="/Baike/article/5" target="_blank">如何教好小学生英语口语</a></h4>
                                            <span>兴趣英语</span>

                                            <input type="hidden" id="LikeClickUrl5" value="/Baike/LoveCountAdd" />
                                            <input type="hidden" id="UnLikeClickUrl5" value="/Baike/LoveCountLose" />

                                            <div class="lession-like">

                                                <span class="like5 like" data-like="1" onclick="like(5)">
                                                    <img src="http://source.vipabc.com/Ext/images/website/junior/baike/home/like_gray27x22.png" alt="" width="18" />
                                                    <i style="display:none">231</i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                    <li>
                                        <div class="art-banner"><a href="/Baike/article/1" target="_blank"><img src="http://source.vipabc.com/Ext/images/website/junior/baike/31ef44e5-778d-43ca-b3de-877566bf3e00.jpg" alt="" /></a></div>
                                        <div class="art-topic">
                                            <h4 class="hot-limited"><a href="/Baike/article/1" target="_blank">999 pieces of jigsaw puzzles 999块拼图</a></h4>
                                            <span>睡前故事</span>

                                            <input type="hidden" id="LikeClickUrl1" value="/Baike/LoveCountAdd" />
                                            <input type="hidden" id="UnLikeClickUrl1" value="/Baike/LoveCountLose" />

                                            <div class="lession-like">

                                                <span class="like1 like" data-like="1" onclick="like(1)">
                                                    <img src="http://source.vipabc.com/Ext/images/website/junior/baike/home/like_gray27x22.png" alt="" width="18" />
                                                    <i style="display:none">280</i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </li>

                        </ul>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-title item-tags"><h3>热门标签</h3></div>
                    <div class="item-content">
                                <a href="/Baike/tag/1" class="tags">有声读物</a>
                                <a href="/Baike/tag/2" class="tags">睡前读物</a>
                                <a href="/Baike/tag/3" class="tags">有声故事</a>
                                <a href="/Baike/tag/4" class="tags">单词拼写</a>
                                <a href="/Baike/tag/5" class="tags">单词记忆</a>
                                <a href="/Baike/tag/6" class="tags">单词背诵</a>
                                <a href="/Baike/tag/7" class="tags">雅思考试</a>
                                <a href="/Baike/tag/8" class="tags">托福考试</a>
                                <a href="/Baike/tag/9" class="tags">GRE考试</a>
                                <a href="/Baike/tag/12" class="tags">英语口语</a>
                                <a href="/Baike/tag/13" class="tags">亲子讲堂</a>
                                <a href="/Baike/tag/14" class="tags">亲子教育</a>
                                <a href="/Baike/tag/15" class="tags">情商教育</a>
                                <a href="/Baike/tag/16" class="tags">实用英语</a>
                                <a href="/Baike/tag/17" class="tags">英语对话</a>
                                <a href="/Baike/tag/18" class="tags">情境英语</a>
                                <a href="/Baike/tag/19" class="tags">英语技巧</a>
                                <a href="/Baike/tag/20" class="tags">儿童英语</a>
                                <a href="/Baike/tag/22" class="tags">少儿英语</a>
                                <a href="/Baike/tag/29" class="tags">初中生英语</a>
                                <a href="/Baike/tag/30" class="tags">小学英语大全 </a>
                                <a href="/Baike/tag/31" class="tags">少儿英语教学</a>
                                <a href="/Baike/tag/32" class="tags">英语四级考试</a>
                                <a href="/Baike/tag/33" class="tags">牛津英语</a>
                                <a href="/Baike/tag/34" class="tags">英语自学方法</a>
                                <a href="/Baike/tag/35" class="tags">学习英语口语</a>
                                <a href="/Baike/tag/36" class="tags">英语怎么学习</a>
                                <a href="/Baike/tag/37" class="tags">幼儿英语教学</a>
                                <a href="/Baike/tag/39" class="tags">高中英语学习</a>
                                <a href="/Baike/tag/41" class="tags">少儿英语学习</a>
                                <a href="/Baike/tag/42" class="tags">初中英语学习方法</a>
                                <a href="/Baike/tag/44" class="tags">小学英语学习</a>
                                <a href="/Baike/tag/45" class="tags">英语学习工具</a>
                                <a href="/Baike/tag/46" class="tags">英语字母学习</a>
                                <a href="/Baike/tag/48" class="tags">高中英语学习方法</a>
                                <a href="/Baike/tag/49" class="tags">小学英语学习方法</a>
                                <a href="/Baike/tag/50" class="tags">初一英语阅读理解</a>
                                <a href="/Baike/tag/51" class="tags">儿童英语谜语大全及答案</a>
                                <a href="/Baike/tag/53" class="tags">少儿英语故事</a>
                                <a href="/Baike/tag/54" class="tags">幼儿英语早教课程</a>

                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <!-- container end -->
    <!-- footer -->
    <!-- footer end -->

</div>
<script src="http://source.vipabc.com/source/js/lib/jquery-1.11.1.min.js"></script> <!-- jQuery library -->
<!--[if (gte IE 6)&(lte IE 8)]>
    <script src="http://source.vipabc.com/source/js/plugin/respond.min.js"></script>
<![endif]-->
<!--[if lt IE 9]>
    <script src="http://source.vipabc.com/source/js/plugin/html5.js"></script>
<![endif]-->

<script src="http://junior.vipabc.com/Scripts/baike/main.js"></script> <!--main js -->

<script type="text/javascript">

    

</script>

            </div>
            <!-- Body End -->
            <!--footer-->
            <div class="v-jr-clear">
 
<!-- footer -->
<!-- footer end -->
<!-- QR-code js -->
<script src="http://junior.vipabc.com/Scripts/js/vendors/jquery.qrcode.min.js"></script>
<!-- shareTo js -->
<script src="http://junior.vipabc.com/Scripts/js/shareTo.js" type="text/javascript"></script>
<!-- trcking code start-->
<script type="text/javascript">
    // google analytics tracking
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {

            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),

            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)

    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-46520037-1', 'vipabcJr.com');
    ga('send', 'pageview');

    // Gridsum tracking
    (function () {
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = (location.protocol == 'https:' ? 'https://ssl.' : 'http://static.') + 'gridsumdissector.com/js/Clients/GWD-002255-E116CE/gs.js';
        var firstScript = document.getElementsByTagName('script')[0];
        firstScript.parentNode.insertBefore(s, firstScript);
    })();

    // admaster tracking
    var _smq = _smq || [];
    _smq.push(['_setAccount', '5c23f13', new Date()]);
    _smq.push(['pageview']);

    (function () {
        var sm = document.createElement('script'); sm.type = 'text/javascript'; sm.async = true;
        sm.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdnmaster.com/sitemaster/collect.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sm, s);
    })();

    $(document.body).ready(function () {

        $(".tracking").click(function () {

            var role = $(this).data("tracking-role");
            if (role == "admaster") {
                var custom = $(this).data("admaster-custom");
                var category = location.href.substring(location.href.lastIndexOf("/") + 1);
                var action = $(this).data("admaster-action");
                _smq.push([custom, category, action]);

            }
        });
    });
    /**
    * [Sociomantic DSP 监测代码]
    * param {[JSON]} [sonar_product] [Sociomantic公司储存变量]
    * description [监测代码由基础代码、sonar_product和ajax留名单success执行代码组成]
    * author [harrytang@vipabc.com]
    */
    var sonar_product = {
        category: ['junior']
    };

    (function () {
        var s = document.createElement('script');
        var x = document.getElementsByTagName('script')[0];
        s.type = 'text/javascript';
        s.async = true;
        s.src = ('https:' == document.location.protocol ? 'https://' : 'http://')
            + 'ap-sonar.sociomantic.com/js/2010-07-01/adpan/vipabc-cn';
        x.parentNode.insertBefore(s, x);
    })();
    
</script>
<!-- trcking code end-->

            </div>
        </div>

    </div>

    
    
    
    <div class="float-lay-bg">
    </div>
    <div class="wrapper">
    </div>
<div class="login-register-wrap">
    <!-- LR-title -->
    <div class="LR-title-wrap">
        <span class="LR-wrap-close txt-indent">Close</span> <a class="s-logo"
            href="/"  title="vipabc">
            <img src="http://source.vipabc.com/Ext/images/website/share/logo/logo.png" alt="www.vipabc.com" width="120"/></a>
        <ul class="LR-tab-title">
            <li class="LR-item-on login-link" data-role="login">会员登录</li>
            <li data-role="register">会员注册</li>
        </ul>
    </div>
    <!-- LR-content-wrap -->
    <div class="LR-content-wrap">
        <div class="LR-content LR-content-show LR-login">
            <ul>
                <li class="LR-wrap-input-wrap LR-mail"><span class="LR-span"><i></i><span class="input-container">
                    <input class="LR-wrap-input focus-on login-email" type="email" value="请输入您注册时的E-mail账号" /></span>
                </span></li>
                <li class="LR-wrap-input-wrap LR-pwd"><span class="LR-span"><i></i><span class="input-container">
                    <input class="LR-wrap-input uptext" type="text" value="您的密码" />
                    <input class="LR-wrap-input hiddentext login-password" style="display: none;" type="password" />
                </span></span></li>
                <li class="LR-wrap-checkbox-wrap"><a href="/ForgotPassword">忘记密码</a>
                    <label>
                        <span class="input-container">
                            <input type="checkbox" id="chk_remember_account" style="vertical-align: -2px;" />&nbsp;&nbsp;下次自动登录（维持14日)
                        </span>
                    </label>
                </li>
                <li class="error-panel"></li>
                <li>
                    <input class="LR-wrap-btn login-btn" type="button" value="登录" /></li>
            </ul>
        </div>
        <div class="LR-content LR-register">
            <form action="/Customer/Register2" method="POST">
            <ul>
                <li class="LR-wrap-input-wrap LR-mail"><span class="LR-span"><i></i><span class="input-container">
                    <input class="LR-wrap-input focus-on" type="email" value="请填写您的常用邮箱，以设定学习账号" name="mail" /></span>
                </span></li>
                <li class="LR-wrap-input-wrap LR-pwd"><span class="LR-span"><i></i><span class="input-container">
                    <input class="LR-wrap-input uptext" type="text" value="请输入6~14位数字或英文的密码，不含空格" />
                    <input class="LR-wrap-input hiddentext password" name="password" style="display: none;"
                        type="password" /></span> </span></li>
                <li class="LR-wrap-input-wrap LR-pwd"><span class="LR-span"><i></i><span class="input-container">
                    <input class="LR-wrap-input uptext" type="text" value="请您再次确认密码" />
                    <input class="LR-wrap-input hiddentext verify-password" type="password" style="display: none;"
                        name="password2" /></span> </span></li>
                <li class="error-panel"></li>
                <li>
                    <input class="LR-wrap-btn register-btn" type="submit" value="注册" /></li>
            </ul>
            <input type="hidden" name="mark" value="1" />
            </form>
        </div>
    </div>
    <div class="clear">
    </div>
</div>

    <!-- VIPABC UI js -->
    <script src="http://junior.vipabc.com/Scripts/js/vendors/jquery.vipabc.UI.js" type="text/javascript"></script>
    <!-- main js -->
    <script src="http://junior.vipabc.com/Scripts/js/main.js?v=20160811" type="text/javascript"></script>
    <!-- event list -->
    <script src="http://junior.vipabc.com/Scripts/js/event_list.js" type="text/javascript"></script>
    <!-- fixed js -->
    <script src="http://junior.vipabc.com/Scripts/js/fixed.js?v=20160811" type="text/javascript"></script>
    <!-- onlineChat js -->
    <script src="http://junior.vipabc.com/Scripts/js/onlineChat.js" type="text/javascript"></script>

    <!-- new header -->
    <script src="http://junior.vipabc.com/Scripts/modules/main.js?v=20160811" type="text/javascript"></script>

     

    <div class="invisible">
<div class="LayoutForm-wrap write-to-us-container">
    <form>
    <!-- write experience form  -->
    <div class="hide-experience-form write-contact-form">
        <div class="HEF-title">
            <!--<span class="LR-wrap-close txt-indent">Close</span>-->
            <span class="HEF-title-name">简单填写资料 免费体验课程</span>
        </div>
        <ul class="HEF-content">
            <li class="HEF-content-item">
                <div>
                    <input class="HEF-input focus-on validate" type="text" value="学员名字" name="name" data-err="请输入学员姓名"
                        maxlength="20" /></div>
            </li>
            <li class="HEF-content-item">
                <div class="HEF-dropdown-wrap">
                    <select class="age_area  validate number-only" name="age_area" data-err="请选择学员年龄">
                        <option value=" ">年龄</option>
                        <option value="20">0-6岁</option>
                        <option value="21">7-9岁</option>
                        <option value="29">10-12岁</option>
                        <option value="30">13-15岁</option>
                        <option value="31">16-18岁</option>
                        <option value="24">18岁以上</option>
                    </select>​ 
                </div>
                </li>
            <li class="HEF-content-item">
                <div>
                    <input class="HEF-input focus-on validate number-only" type="text" value="家长手机" data-err="请填写您的手机号码(纯数字)"
                        name="cphone" /></div>
            </li>
            <li class="HEF-content-item">
                <div>
                    <input class="HEF-input focus-on validate" type="text" value="家长邮箱" data-err="请填写您的常用邮箱，以设定学习账号"
                        name="mail" />
                </div>
            </li>
            <li class="HEF-content-item">
                <div>
                    <input class="HEF-btn free-try-submit" type="button" value="免费体验" /></div>
                    <input type="hidden" value="1" name="jr" />
                    <input type="hidden" value="MNOyc6xEg3" name="fromwhere" />
            </li>
        </ul>
    </div>
    </form>
    <span class="LayoutForm-wrap-close"></span>
    <!-- write experience form -->
    <script type="text/javascript">

        $(document.body).ready(function () {

        
        });
    </script>
</div>

    </div>
</body>
</html>
