<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>租车活动新增</title>
<!-- 使用jQuery Validation控件进行前端验证 -->
<script th:src="@{/webjars/jquery-validation/1.13.1/jquery.validate.min.js}"></script>
<script th:src="@{/webjars/jquery-validation/1.13.1/additional-methods.min.js}"></script>
<script th:src="@{/js/lib/jquery-validation/messages_zh.js}"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script>
	$(function() {
		$("#mainForm").validate({

			highlight : function(element) {
				$(element).closest(".form-group").addClass("has-error");
			},
			success : function(label) {
				label.closest(".form-group").removeClass("has-error");
				label.closest(".form-group").addClass("has-success");
			},
			errorPlacement : function(error, element) {
				element.parent("div").append(error);
			},
			submitHandler : function(form) {
				form.submit();
			}
		});
	});
</script>


</head>
<body>
	<div layout:fragment="content" class="container-fluid">
		<div class="row">
			<div class="page-header">
				<h1>租车活动新增</h1>
			</div>
			<div class="row">
				<div class="col-md-12">
					<form id="mainForm" class="form-horizontal" role="form" method="post" th:action="@{/specialCar/create}"
						th:object="${rentalCar}">
						
						
						 <!-- 供应商名称 -->
					 <div class="form-group">
							<label for="supplier" class="col-xs-3 control-label">供应商名称</label>
							<div class="col-xs-6">
								<select class="form-control" th:field="*{supplier}" name="supplier">
									<option th:each="supplier : ${supplier}" th:value="${supplier.id}" th:text="${supplier.cnName}"  id="supplier" ></option>
								</select>
								<span class="text-danger" th:if="${#fields.hasErrors('supplier')}" th:errors="*{supplier}"></span>
							 </div>
					 </div>

						<div class="form-group">
							<label for="cartype" class="col-xs-3 control-label">租车类型<span style="color: #e94d1c; font-size: 6px;">*</span></label>
							<div class="col-xs-6">
								<input type="text" class="form-control" th:field="*{cartype}" required="required" />
								 <span class="text-danger" th:if="${#fields.hasErrors('cartype')}" th:errors="*{cartype}"></span>
							</div>
						</div>
						
						<div class="form-group">
							<label for="count" class="col-xs-3 control-label">类型介绍<span style="color: #e94d1c; font-size: 6px;">*</span></label>
							<div class="col-xs-6">
							<textarea rows="5" cols="71" th:field="*{count}" required="required" ></textarea>
								 <span class="text-danger" th:if="${#fields.hasErrors('count')}" th:errors="*{count}"></span>
							</div>
						</div>
						
						<p class="text-center">
						<button type="submit" class="btn btn-primary">提交</button>
						<a th:href="@{/specialCar}" class="btn btn-default">返回</a>
						
						
						
					</p>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>