<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title></title>
<style type="text/css">

</style>
</head>

<body style="padding: 0px; margin: 0px;text-align: center;"  >
<div class="footer" style="margin-top: 20px;">
    <div class="inside">
        <div class="jr-qrcode" >
        
            <span>关注官微公众号 <br />有趣内容等着你</span>
            <img src="../../img/shouyewechat.png" alt="ifbrain公众号" width="90" height="90" style="padding:5px; background-color:#fff;"/>
        </div>  
        <!-- share -->
        <div class="share-wrap">
            <ul>
                <li class="sinaWeibo " ></li>
                <li class="weixin "></li>
                <li class="tenWeibo "></li>
                <li class="douban "></li>
                <li class="renren "></li>
            </ul>
        </div>
        <!-- share end -->
        <p class="foot-links">
          
        </p>
       
        
        <p class="copyright" style="margin-top: 30px;">
              © 2015ifbrain.com. All Rights Reserved.京ICP备15059287号
              </p>
    </div>
</div>
<script th:src="@{/assets/index/js/jquery.qrcode.min.js}"></script>
 <script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js"></script>
</body>
</html>
