<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<title>注册</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
 <link rel="shortcut icon" href="../../img/showhtml.ico" /> 
<meta content="Metronic Shop UI description" name="description" />
<meta content="Metronic Shop UI keywords" name="keywords" />
<meta content="keenthemes" name="author" />

<meta property="og:site_name" content="-CUSTOMER VALUE-" />
<meta property="og:title" content="-CUSTOMER VALUE-" />
<meta property="og:description" content="-CUSTOMER VALUE-" />
<meta property="og:type" content="website" />
<meta property="og:image" content="-CUSTOMER VALUE-" />
<!-- link to image for socio -->
<meta property="og:url" content="-CUSTOMER VALUE-" />

<link rel="shortcut icon" href="favicon.ico" />


<!-- Global styles START -->
<link href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<!-- Global styles END -->

<!-- Page level plugin styles START -->
<link href="../../assets/global/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet" />
<link href="../../assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
<!-- Page level plugin styles END -->

<!-- Theme styles START -->
<link href="../../assets/global/css/components.css" rel="stylesheet" />
<link href="../../assets/frontend/layout/css/style.css" rel="stylesheet" />
<link href="../../assets/frontend/layout/css/style-responsive.css" rel="stylesheet" />
<link href="../../assets/frontend/layout/css/themes/red.css" rel="stylesheet" id="style-color" />
<link href="../../assets/frontend/layout/css/custom.css" rel="stylesheet" />
<link rel="shortcut icon" href="favicon.ico"/>
       
   <link href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"/> 
   <script src="../../assets/frontend/pages/scripts/top.js"></script>
  
   <link href="../../assets/global/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet"/>
  <link href="../../assets/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.css" rel="stylesheet"/>
  <link href="../../assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
  <link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <link href="../../assets/global/plugins/rateit/src/rateit.css" rel="stylesheet" type="text/css"/>
 
  
  <link href="../../assets/frontend/layout/css/style.css" rel="stylesheet"/>
  <link href="../../assets/frontend/pages/css/style-shop.css" rel="stylesheet" type="text/css"/>
  <link href="../../assets/frontend/layout/css/themes/red.css" rel="stylesheet" id="style-color"/> 
   <link href="../../assets/frontend/layout/css/style-responsive.css" rel="stylesheet"/> 
 <link href="../../assets/frontend/layout/css/custom.css" rel="stylesheet"/>
   <link href="../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
 <link href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	  <script type="text/javascript" th:src="@{/webjars/jquery/2.1.3/jquery.min.js}"></script>
<script src="../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<style type="text/css">
	.clearfix{
		clear: both;
	}
	
</style>
<style type="text/css">
	.ahover6{
    			color: #fabf12 !important;
    			border-bottom: 2px solid #fabf12;
    		}
</style>
 <script th:src="@{/webjars/jquery/2.1.3/jquery.min.js}"></script> 
<script src="../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script th:src="@{/js/controller/forgetemailpassword.js}"></script>
<script th:src="@{/js/controller/forgetphonepassword.js}"></script>
<link href="../../assets/global/css/components.css" rel="stylesheet"/>
<style type="text/css">


input.form-control,
textarea.form-control {

	border: 1px solid white; 

 background-repeat: no-repeat; 
 height:56px;
  background-position:27px center;

   text-align:left;
 
}
input.form-control:focus,
textarea.form-control:focus {
	box-shadow: none;
	border: solid 1px white;
	text-align:left;

   font-size:15px; 
}



html { -webkit-text-size-adjust:none; -ms-text-size-adjust: none;}
@media only screen and (max-device-width:680px), only screen and (max-width: 680px) { 
	*[class="table_width_100"] {
		width: 96% !important;
	}
	*[class="border-right_mob"] {
		border-right: 1px solid #dddddd;
	}
	*[class="mob_100"] {
		width: 100% !important;
	}
	*[class="mob_center"] {
		text-align: center !important;
		padding: 0 !important;
	}
	*[class="mob_center_bl"] {
		float: none !important;
		display: block !important;
		margin: 0px auto;
	}	
	.iage_footer a {
		text-decoration: none;
		color: #929ca8;
	}
	img.mob_display_none {
		width: 0px !important;
		height: 0px !important;
		display: none !important;
	}
	img.mob_width_50 {
		width: 40% !important;
		height: auto !important;
	}
	img.mob_width_80 {
		width: 80% !important;
		height: auto !important;
	}
	img.mob_width_80_center {
		width: 80% !important;
		height: auto !important;
		margin: 0px auto;
	}
	.img_margin_bottom {
		font-size: 0;
		height: 25px;
		line-height: 25px;
	}
}
.table_width_100 {
	width: 680px;
}
</style>
<style>
.header-navigation {
	margin: 0;
	padding: 0;
	list-style: none;
}

.header-navigation li {
	float: left;
	font-size: 14px;
}

.header-navigation li>a {
/* 	color: #333; */
	display: block;
	padding: 8px 10px 11px;
}

.header-navigation li.active>a, .header-navigation li>a:hover,
	.header-navigation li>a:focus, .header-navigation li.open>a,
	.header-navigation li.open>a:hover, .header-navigation li.open>a:focus
	{
	color: #ffffff;
/**/	background: #ff9d00;
	text-decoration: none;
}

.header-navigation >ul>li>a{
	color: #f8f8f8;

}
/* .tabbable-line > .nav-tabs > li.active{
 border-bottom: 4px solid #015289;
} */
</style>


<!-- 后加的样式，橙色背景色，白色字体 -->
<style>
.header-navigation ul > li.active > a,
.header-navigation ul > li > a:hover,
.header-navigation ul > li > a:focus,
.header-navigation ul > li.open > a,
.header-navigation ul > li.open > a:hover,
.header-navigation ul > li.open > a:focus {
	color: white;
	background-color: #ff9d00;
}
</style>

</head>
<body style="background-color:#ffd464; text-align:Center; ">
	    <div class="v-jr-slide-wrap">
        
  <div th:replace="partial/header-new" class="header" style="width: auto;"></div>
        <div class="v-jr-slide-box v-jr-clear" id="js-slide-box">		
<!-- new -->

<div class="col-md-12 col-xs-12 col-sm-12"  style = "text-align:center;">

	
		
<!-- 手机验证找回-->
		<div class="col-md-12 col-xs-12 col-sm-12" style="text-align: Center; margin-top:140px;"
			id="showregister1">
			<form class="form-horizontal form-without-legend" method="post"
					role="form" th:object="${user}"
					th:action="@{/user/resetphonepasswordfirst}" id="phoneresetForm">
			<div  class=" col-md-4 col-md-offset-4 col-xs-12 col-sm-12"
				style="border: 1px solid white;border-left:none;border-right:none;border-top:none;  border-radius: 40px !important; align: center; padding: 0px; background:#0151a6;">
				
					<div style="display: inline;">
						<div class=" col-md-6  col-xs-6 col-sm-6" onClick="registershow1();"
							style="height: 60px; text-align: Center; line-height: 60px; padding:0px;">
							<a
								style="text-decoration: none;font-size: 20px; color: white;">
								邮箱验证</a>
						</div>
						<div class=" col-md-6  col-xs-6 col-sm-6"
							style="height: 60px; text-align: Center; line-height: 60px; background: #ffffff; border: 1px solid white;padding:0px; border-radius: 40px 40px 0px 0px !important;">
							<a
								style="text-decoration: none; color: black; font-size: 20px;">手机验证</a>
						</div>
					</div>
					<div 
						style="text-align: center; border: none;  border-radius: 40px 0px 0px 0px !important; background-color: white; margin-top: 60px;">
					<!-- 	<input type="text" class=" form-control container"
							id="phonenumber" name="phonenumber" required="required" 
							placeholder="请输入注册时使用的手机号码"
							style=" border-bottom: 1px solid; border-radius: 50px 50px 0px 0px !important;"
							onfocus="if (placeholder =='请输入注册时使用的手机号码'){placeholder =''; }"
							onblur="if (placeholder ==''){placeholder ='请输入注册时使用的手机号码'}" /> -->
						
			
<div class="input-group" style="padding-right:40px;">
							<span class="input-group-addon"
								style=" border:transparent;  background-color: white; margin-left:0px;">
								
							</span>
						
								<input type="text" class=" form-control container" id="phonenumber" name="phonenumber" required="required"  placeholder="请输入注册用的手机号"
									style="text-align: left;text-align: left;font-size: 15px; border-bottom:1px solid #ccc; padding:0px;font-size:100%;"
									onfocus="if (placeholder =='请输入注册用的手机号'){placeholder =''; }"
									onblur="if (placeholder ==''){placeholder ='请输入注册用的手机号'} validatePhone(this.value)" />
							</div>
				
						
					<div class=" col-md-12  col-xs-12 input-group col-sm-12"	style="padding:0px;padding-right:40px; height: 56px; ">
                          
                           <span class="input-group-addon"
								style=" border:none; background-color: white; margin-left: 0px;text-align:left;">
							
							</span>
							
                              
                               	<div class=" col-md-12  col-xs-12 col-sm-12" style = "border-bottom:1px solid #ccc;padding:0px;">
                               		<div class=" col-md-9  col-xs-6 col-sm-6" style="text-align: left;padding:0px;">
							
								<input type="text" class=" form-control container" id="code"
											name="code" required="required"  placeholder="请输入验证码"
									style="text-align: left;text-align: left;font-size: 15px; padding:0px;font-size:100%; "
									onfocus="if (placeholder =='请输入验证码'){placeholder =''; }"
									onblur="if (placeholder ==''){placeholder ='请输入验证码'}" />
						</div>
							
								<div class=" col-md-3  col-xs-6 col-sm-6" style="padding:0px;"> 
							<input type="button" id="buttonA" class = "form-control container" value="发送验证码"  style=" height: 40px;margin-top:8px;  background-color: #0151a6; color: white; border-radius:20px !important; font-size:14px; font-size:100%;"   />
										</div>
							</div>
						</div>
					
				
						
						
						
						<div class=" col-md-12  col-xs-12 col-sm-12" 
							style="height: 56px;background-color:white; border:none;  border-radius:0px 0px 40px 40px !important "></div>
					</div>
			</div>
			</form>
			<div class="col-md-12 col-xs-12 col-md-offset-0 col-sm-12"
				style="margin-top: 40px; align: center; border: none;">
			
					<p class="text-danger" th:text="${messageInfo}"  id="messageInfo" style="color: red"></p> 
				<div class="col-md-4 col-xs-12 col-md-offset-4 col-sm-12" align="center" style = "padding-left:30px;padding-right:30px;">
				 <div id="phoneresetpasswordfirst"   class="span3 " >
				<a  class="btn btn-large btn-block btn-success " style = " font-size:18px;line-height:45px; border-radius:40px !important; background-color:white; color:black; height:50px;border: none;"> 找回密码   </a>
				</div>
				</div>
			</div>
			<!-- <div class="col-md-12 col-xs-12 col-md-offset-0"
				style="margin-top: 0px; align: center; border: none;">
			
					
				<div class="col-md-4 col-xs-12 col-md-offset-4" align="center" style = "padding-left:30px;padding-right:30px;">
				 <div id="callback1"  class="span3 " >
				<a  class="btn btn-large btn-block btn-success " style = "	font-family: myfont1; font-size:18px;line-height:45px; border-radius:40px !important; background-color:white; color:black; height:50px;border: none;"   th:href="@{/user/login}"> 返回  </a>
				</div>
				</div>
			</div> -->
		</div>


		
<!-- 邮箱修改密码和确认密码界面-->
		<div class="col-md-12 col-xs-12" style="display:none; text-align: Center; margin-top:140px;"
			id="phoneandemailFindpwd">
			<form class="form-horizontal form-without-legend" method="post"
				role="form" th:object="${user}" id="emaiFindpwdForm"
				th:action="@{/user/resetemailpasswordthird}">
				<input type="hidden" th:value="${returnUrlTrip}"
					name="returnUrlTrip" id="returnUrlTrip" /> <input type="hidden"
					th:value="${currentUrl}" name="currentUrl" id="currentUrl" />
				<div class="alert alert-danger display-hide">
					<button class="close" data-close="alert"></button>
					<span style=""> 请输入登录邮箱和密码. </span>
				</div>
				<div class="col-md-4  col-xs-12 col-md-offset-4 col-sm-12"
					style="align: center;border:1px solid white;  border-radius: 40px !important;  padding:0px; background-color:white">
				   <div class="input-group" style="padding-right: 30px;">
					   <span class="input-group-addon" style = "border-top-left-radius: 40px !important; border-top-right-radius:40px;background-color:white;border-color: white;">
                        </span>
					 <input type="password" class=" form-control container" name="password"
							id="password"  required="required"
							placeholder="输入新密码"
							style="text-align:left;  border-left: none; border-bottom: 1px solid #ccc; font-size:100%; width:100%; padding:0px;"
							onfocus="if (placeholder =='输入新密码'){placeholder =''; }"
							onblur="if (placeholder ==''){placeholder ='输入新密码'}"/>
					</div>
					<div class="input-group" style="padding-right: 30px;">
					 <span class="input-group-addon" style = "border-bottom-left-radius: 40px !important; border-bottom-right-radius:40px;background-color:white;border-color: white;">
                     </span>
					
					<input type="password" class="form-control container"
							name="confirmpasswordw" id="confirmpasswordw" required="required"
							style="text-align:left;border-radius: 30px 30px 0px 0px !important; border-left: none;  font-size:100%; width:100%;padding:0px;"
							placeholder="确认密码"
							onfocus="if (placeholder =='确认密码'){placeholder =''}"
				onblur="if (placeholder ==''){placeholder ='确认密码'}" />
					</div>
				</div>

				<div onclick="resetpassword()"
					class="col-md-4 col-xs-12 col-md-offset-4 col-sm-12"
					style="margin-top: 40px; align: center; border: none;">
					<p class="text-danger"  style="color: red" id="emailmessageInfo"></p>
					 <p ><font color="#0151A6">密码必须6位数以上，可以由字母,数字和特殊字符组成.</font></p>
					<div id="loginbutton" class="span3 ">
						<a href="#" class="btn btn-large btn-block btn-success "
							style=" font-size:18px;line-height:45px; border-radius:40px !important; background-color:white; color:black; height:50px;border: none;">确认</a>


					</div>
				</div>
				<!-- <div class="col-md-12 col-xs-12 col-md-offset-0"
				style="margin-top: 0px; align: center; border: none;">
			
					
				<div class="col-md-4 col-xs-12 col-md-offset-4" align="center">
				 <div id="callback2" onClick="callback();"  class="span3 " >
				<a  class="btn btn-large btn-block btn-success " style = "	font-family: myfont1; font-size:18px;line-height:40px; border-radius:40px !important; background-color:white; color:#333333; height:50px;" th:href="@{/user/forgetemailpassword}"> 返回  </a>
				</div>
				</div>
			</div> -->
			<input type="hidden"  name="email"  id="email" th:value="${email}" /> 
			</form>
			</div>
			
			
		<!--手机修改密码和确认密码界面  -->
			
			
			<div class="col-md-12 col-xs-12 col-sm-12" style="display:none; text-align: Center; margin-top:140px;"
			id="phoneFindpwd">
			<form class="form-horizontal form-without-legend" method="post"
				role="form" th:object="${user}" id="phoneFindpwdForm"
				th:action="@{/user/resetphonepasswordsecond}">
				<input type="hidden" th:value="${returnUrlTrip}"
					name="returnUrlTrip" id="returnUrlTrip" /> <input type="hidden"
					th:value="${currentUrl}" name="currentUrl" id="currentUrl" />
				<div class="alert alert-danger display-hide">
					<button class="close" data-close="alert"></button>
					<span style=""> 请输入登录邮箱和密码. </span>
				</div>
				<div class="col-md-4  col-xs-12 col-md-offset-4 col-sm-12"
						style="align: center;border:1px solid white;  border-radius: 40px !important;  padding:0px; background-color:white">

				<div class="input-group" style="padding-right: 30px;">
					   <span class="input-group-addon" style = "border-top-left-radius: 40px !important; border-top-right-radius:40px;background-color:white;border-color: white;">
                            </span>
					
					 <input type="password" class=" form-control container" name="phoneresetpassword"
							id="phoneresetpassword"  required="required"
							placeholder="输入新密码"
							style="text-align:left;  border-left: none; border-bottom: 1px solid #ccc; font-size:100%; width:100%; padding:0px;"
							onfocus="if (placeholder =='输入新密码'){placeholder =''; }"
							onblur="if (placeholder ==''){placeholder ='输入新密码'}" />
					</div>
					<div class="input-group" style="padding-right: 30px;">
					 <span class="input-group-addon" style = "border-bottom-left-radius: 40px !important; border-bottom-right-radius:40px;background-color:white;border-color: white;">
                            </span>
					<input type="password" class="form-control container"
							name="confirmphonepassword" id="confirmphonepassword" required="required"
							style="text-align:left;border-radius: 30px 30px 0px 0px !important; border-left: none; font-size:100%; width:100%;padding:0px;"
							placeholder="确认密码"
							onfocus="if (placeholder =='确认密码'){placeholder =''}"
					
				onblur="if (placeholder ==''){placeholder ='确认密码'}" />
				</div>
			    
				</div>
				
					
				

				<div 
					class="col-md-4 col-xs-12 col-md-offset-4 col-sm-12"
					style="margin-top: 40px; align: center; border: none;padding-left: 30px;padding-right: 30px; font-size:100%;'">
					
					<p class="text-danger"  style="color: red" id="phonemessage"></p>
					 <p style="color: green"><font color="#0151A6">密码必须6位数以上，可以由字母,数字和特殊字符组成.</font></p>
					<div id="loginbutton" class="span3 " >
					
						<a href="#" class="btn btn-large btn-block btn-success "
							style=" font-size:18px;line-height:45px; border-radius:40px !important; background-color:white; color:black; height:50px;border: none;" id="phoneresetpasswordsecond">确认</a>
					
					</div>
				</div>
				<!-- <div class="col-md-4 col-xs-12 col-md-offset-4"
				style="margin-top: 0px; align: center; border: none;padding-left: 30px;padding-right: 30px"  >
			
				 <div id="callback2"  class="span3 " >
				<a  class="btn btn-large btn-block btn-success " style = "	font-family: myfont1; font-size:18px;line-height:40px; border-radius:40px !important; background-color:white; color:#333333; height:50px;"  th:href="@{/user/forgetemailpassword}"> 返回  </a>
			
				</div>
			</div> -->
			<input type="hidden"  name="phone"  id="phone" th:value="${phone}" /> 
			</form>
			</div>
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			<!-- 邮箱验证找回 -->
<div  class="col-md-12 col-xs-12" style=" text-align:Center;margin-top:140px;" id="showregister2">
	<form class="form-horizontal form-without-legend" method="post"
									role="form" th:object="${user}" th:action="@{/user/resetemailpassword}" id="emailsetpwdForm">
<div id="email" class = " col-md-4 col-md-offset-4 col-xs-12 col-sm-offset-4 col-sm-4" style = " border:1px solid white; border-top:none;border-left:none;border-right:none; border-radius:40px !important; align:center;padding:0px;background:#0151a6;">
					<div style="display: inline;">
						<div class=" col-md-6  col-xs-6 col-sm-6"
								style="height: 60px; text-align: Center; line-height: 60px; border: 1px solid white; border-radius: 40px 40px 0px 0px !important; background-color: white;">
							<a
								style="text-decoration: none;  font-size: 20px; color: black;">邮箱验证</a>
						</div>
						<div class=" col-md-6  col-xs-6 col-sm-6" onClick="registershow2()"
							style="height: 60px; text-align: Center; line-height: 60px;">
							<a
								style="text-decoration: none; font-size: 20px; color: white;">手机验证</a>
						</div>
					</div>
						<div
						style="text-align: center; border: none; background-color: white; margin-top: 60px;">

						<!-- <input type="text" class="form-control container"
							id="emailvalue" name="email"
							style=" margin-bottom: 80px; border-bottom: 1px solid; border-top-right-radius:50px !important;"
							placeholder="请输入注册时使用的邮箱帐号"
							onfocus="if (placeholder =='请输入注册时使用的邮箱帐号'){placeholder =''}"
							onblur="if (placeholder ==''){placeholder ='请输入注册时使用的邮箱帐号'}" /> -->
							
							
									<div class="input-group" style="padding-right:30px;">
							<span class="input-group-addon"
								style="border-top-left-radius: 40px !important; border: transparent;  background-color: white; margin-left: 0px;">
								
							</span> 		
			

						
								<input type="text" class=" form-control container" id="emailvalue" name="email"   placeholder="请输入注册用的邮箱帐号"
									style="border-bottom: 1px solid #ccc; text-align: left;font-size: 15px;padding:0px;font-size:100%; "
									onfocus="if (placeholder =='请输入注册用的邮箱帐号'){placeholder =''; }"
									onblur="if (placeholder ==''){placeholder ='请输入注册用的邮箱帐号'} validateEmail(this.value)" />
						</div>

					
							<div class=" col-md-12  col-xs-12 col-sm-12" 
							style="height: 56px;background-color:white; border:none; border-radius:0px 0px 40px 40px !important "></div>

					</div>
					<input type="hidden" id="emailflag"  name="emailflag"/>
			</div>
			</form>
			

			
			<div class="col-md-12 col-xs-12 col-md-offset-0 col-sm-offset-0 col-sm-12"
				style="margin-top: 40px;  align: center; border: none;">
						<p class="text-danger" th:text="${messageInfo}" style="color: red"  id="message"></p>  
				<div class="col-md-4 col-xs-12 col-md-offset-4 col-sm-12" align="center" style = "padding-left:30px;padding-right:30px;">
				 <div id="emailresetpasswordf" onClick="emailEdit();" class="span3 " >
				<a  class="btn btn-large btn-block btn-success " style = "	 font-size:18px;line-height:45px; border-radius:40px !important; background-color:white; color:black; height:50px;border: none;"> 找回密码   </a>
				</div>
				</div>
			</div>
		<!-- <div class="col-md-12 col-xs-12 col-md-offset-0"
				style="margin-top: 0px; align: center; border: none;">
			
					
				<div class="col-md-4 col-xs-12 col-md-offset-4" align="center" style = "padding-left:30px;padding-right:30px;">
				 <div id="callback3"   class="span3 " >
				<a  class="btn btn-large btn-block btn-success " style = "	font-family: myfont1; font-size:18px;line-height:45px; border-radius:40px !important; background-color:white; color:black; height:50px;border: none;" th:href="@{/user/login}" > 返回  </a>
				</div>
				</div>
			</div> -->
		</div>
</div>


	<!-- 邮箱验证找回按下后 -->
<div  class="col-md-12 col-xs-12" style="display:none; text-align:Center;margin-top:140px;" id="emailFind">
	<form class="form-horizontal form-without-legend" method="post"
									role="form" th:object="${user}" th:action="@{/user/resetemailpassword}" >
<div id="email" class = " col-md-4 col-md-offset-4 col-xs-12 col-sm-12" style = " border:none; border-radius:40px !important; align:center;padding:0px;background:#0151a6;">
					<div style="display: inline;">
						<div class=" col-md-6  col-xs-6 col-sm-6"
							style="height: 60px; text-align: Center; line-height: 60px; border: 1px solid white; border-radius: 40px 40px 0px 0px !important; background-color: white;">
							<a
								style="text-decoration: none; font-size: 20px; color: black;">邮箱验证</a>
						</div>
						<div class=" col-md-6  col-xs-6 col-sm-6" 
							style="height: 60px; text-align: Center; line-height: 60px;">
							<a
								style="text-decoration: none;  font-size: 20px; color: white;">手机验证</a>
						</div>
					</div>
					<div
						style="padding-bottom:20px; text-align:center; border-top: 1px solid white;  background-color: white; margin-top: 60px; border-radius:0px 0px 40px 40px !important;">
                      
                      <div style = "color:#d2d2d2; font-size:20px; margin-top:42px; text-align:center; font-size:100%;">密码重置邮件已发送至你的邮箱：</div>
                      
						<input type="text" class="form-control container"
							id="emailvalue" name="email"
							style="text-align:center;margin-top:27px;margin-bottom:46px; color:#004986; font-size:20px;  border-bottom: 1px solid white; border-radius:0px 40px 40px 40px !important;font-size:100%;"
							th:value="${sendemail}"
							 />
					 <div style = "color:#d2d2d2; font-size:18px;text-align:center;font-size:100%;">请在24小时内登录你的邮箱接收邮件,</div>
					 <div style = "color:#d2d2d2; font-size:18px;text-align:center;font-size:100%;">链接激活后可重置密码。</div>
					</div>
					<input type="hidden" id="emailflag" th:value="${emailflag}" name="emailflag"/>
			</div>
			</form>
			<div class="col-md-12 col-xs-12 col-md-offset-0 col-sm-12"
				style="margin-top: 40px;  align: center; border: none;">
			
						<p class="text-danger" th:text="${messageInfo}"  id="messageInfo"></p>  
				<div class="col-md-4 col-xs-12 col-md-offset-4 col-sm-12" align="center">
				 <div id="emailcheck" class="span3 " >
				<a  class="btn btn-large btn-block btn-success " style = "	 font-size:18px;line-height:45px; border-radius:40px !important; background-color:white; color:black; height:50px;border: none;" th:href="@{/user/login}" > 请登录邮箱查看   </a>
				</div>
				</div>
			</div>
			<!-- <div class="col-md-12 col-xs-12 col-md-offset-0"
				style="margin-top: 0px; align: center; border: none;">
				<div class="col-md-4 col-xs-12 col-md-offset-4" align="center">
				 <div id="callback4"   class="span3 " >
				<a  class="btn btn-large btn-block btn-success " style = "	font-family: myfont1; font-size:18px;line-height:40px; border-radius:40px !important; background-color:white; color:#333333; height:50px;" th:href="@{/user/forgetemailpassword}"> 返回  </a>
				</div>
				</div>
			</div> -->
		</div>

<!-- end -->

<input  type="hidden"  id="resetpasswordflag"  th:value="${resetpasswordflag}" />


<!-- 激活邮箱发送后的标识 -->	
<input  type="hidden"  id="sendsuccess"  th:value="${sendsuccess}" />
<input  type="hidden"  id="setphonepwdsuccess"  th:value="${setphonepwdsuccess}" />

</div></div>


</body>

</html>