<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
	<title>修改供应商</title>
	<!-- 使用jQuery Validation控件进行前端验证 -->
	<script th:src="@{/webjars/jquery-validation/1.13.1/jquery.validate.min.js}"></script>
	<script th:src="@{/webjars/jquery-validation/1.13.1/additional-methods.min.js}"></script>
	<script th:src="@{/js/lib/jquery-validation/messages_zh.js}"></script>
	
	<script>
		$(function() {
			$("#mainForm").validate({
				highlight : function(element) {
					$(element).closest(".form-group").addClass("has-error");
				},
				success : function(label) {
					label.closest(".form-group").removeClass("has-error");
					label.closest(".form-group").addClass("has-success");
				},
				errorPlacement : function(error, element) {
					element.parent("div").append(error);
				},
				submitHandler : function(form) {
					form.submit();
				}
			});
		});
	</script>
</head>
<body>
	<div layout:fragment="content">
		<div  class="row">
			<div class="col-md-9 col-sm-9 col-sm-offset-2">
				<h1>修改供应商</h1>
				<div class="content-form-page">
					<div class="row">
						<div class="col-md-7 col-sm-7">
							<form id="mainForm" class="form-horizontal" role="form" method="post" th:object="${supplier}" th:action="@{/supplier/update}">
								<input type="hidden" name="_method" value="put" />
			                    <input type="hidden" th:field="*{id}" />
								<div class="form-group">
									<label for="cnName" class="col-lg-4 control-label"> 
									供应商名称 
									<span class="require">*</span>
									</label>
									<div class="col-lg-8">
										<input type="text" class="form-control" th:field="*{cnName}" 
										   th:value="${cnName}" required="required" />
								    <span class="text-warning" th:if="${#fields.hasErrors('cnName')}" th:errors="*{cnName}"></span>
									</div>
								</div>
								<!--  <div class="form-group" th:classappend="${#fields.hasErrors('code')}? 'has-error'">
							<label for="code" class="col-lg-4 control-label">供应商类型	<span class="require">*</span></label>
							<div class="col-lg-8">
								<select class="form-control" th:field="*{code}">
									<option th:each="code : ${code}" th:value="${code.id}" th:text="${code.classs}"></option>
								</select>
								<span class="text-danger" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></span>
							 </div>
					 		</div> -->
								<div class="form-group">
									<label for="enName" class="col-lg-4 control-label"> 
									供应商英文名 
									<span class="require">*</span>
									</label>
									<div class="col-lg-8">
										<input type="text" class="form-control" th:field="*{enName}"
										th:value="${enName}" required="required" />
										<span class="text-warning" th:if="${#fields.hasErrors('enName')}" th:errors="*{enName}"></span>
									</div>
								</div>
								<div class="form-group">
									<label for="resPhone" class="col-lg-4 control-label"> 
									预订电话 
									<span class="require">*</span>
									</label>
									<div class="col-lg-8">
										<input type="text" class="form-control" th:field="*{resPhone}"
										th:value="${resPhone}" required="required"  />
										<span class="text-warning" th:if="${#fields.hasErrors('resPhone')}" th:errors="*{resPhone}"></span>
									</div>
								</div>
								<div class="form-group">
									<label for="resEmail" class="col-lg-4 control-label"> 
									预订邮箱 
									<span class="require">*</span>
									</label>
									<div class="col-lg-8">
										<input type="email" class="form-control" th:field="*{resEmail}"
										th:value="${resEmail}" required="required"  />
										<span class="text-warning" th:if="${#fields.hasErrors('resEmail')}" th:errors="*{resEmail}"></span>
									</div>
								</div>
								<div class="form-group">
									<label for="contact" class="col-lg-4 control-label"> 
									联系人
									<span class="require">*</span> 
									</label>
									<div class="col-lg-8">
										<input type="text" class="form-control" th:field="*{contact}"
										th:value="${contact}"  required="required" />
										<span class="text-warning" th:if="${#fields.hasErrors('contact')}" th:errors="*{contact}"></span>
									</div>
								</div>
								<div class="form-group">
									<label for="website" class="col-lg-4 control-label"> 
									网站 
									<span class="require">*</span>
									</label>
									<div class="col-lg-8">
										<input type="text" class="form-control" th:field="*{website}" required="required"  />
										<span class="text-warning" th:if="${#fields.hasErrors('website')}" th:errors="*{website}"></span>
									</div>
								</div>
								<div class="form-group">
									<label for="contactNotes" class="col-lg-4 control-label">
									 特殊提醒 
									 <span class="require">*</span>
									 </label>
									<div class="col-lg-8">
										<input type="text" class="form-control" th:field="*{contactNotes}" required="required"  />
										<span class="text-warning" th:if="${#fields.hasErrors('contactNotes')}" th:errors="*{contactNotes}"></span>
									</div>
								</div>
								<div class="form-group">
									<label for="status" class="col-lg-4 control-label">
									 有无API 
									 <span class="require">*</span>
									 </label>
									<div class="col-lg-8 md-radio-inline">
										<select class="form-control" th:field="*{status}">
											<option value="1">是</option>
											<option value="2">否</option>
										</select>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-8 col-md-offset-4 padding-left-0 padding-top-20">
										<button type="submit" class="btn btn-primary">提交</button>
										<a type="button"  th:href="@{/supplier}"  class="btn btn-default">关闭</a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div layout:fragment="script">
		<script th:src="@{/assets/global/plugins/select2/select2.min.js}"></script>
		<script th:src="@{/js/controller/plan/step1.js}"></script>
		<script>
			$(function() {
				Metronic.init(); // init metronic core components
				Layout.init(); // init current layout
				QuickSidebar.init(); // init quick sidebar
				Demo.init(); // init demo features
				ComponentsDropdowns.init();
			});
		</script>
	</div>
</body>
</html>