<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>个人信息</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
	<div layout:fragment="content" class="container-fluid">
		<div class="row">
		<div class="page-header">
			<h1>个人信息</h1>
		</div>
		<div class="row">
			<div class="col-md-12">
		<form class="form-horizontal" role="form" method="post" th:action="@{/member/memberinfo}" th:object="${member}">
			<input type="hidden" name="_method" value="put" /> <input type="hidden" th:field="*{id}" />
			<div class="form-group">
				<label for="firstName" class="col-xs-3 control-label">姓</label>
				<div class="col-xs-6">
					<label class="form-control" th:text="${member.firstName}"></label> <span class="text-warning"
						th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
				</div>
			</div>

			<div class="form-group">
				<label for="lastName" class="col-xs-3 control-label">名</label>
				<div class="col-xs-6">
					<label class="form-control" th:text="${member.lastName}"></label> <span class="text-warning"
						th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
				</div>
			</div>

			<div class="form-group">
				<label for="password" class="col-xs-3 control-label">密码</label>
				<div class="col-xs-6">
					<label class="form-control" th:text="${member.password}"></label> <span class="text-warning"
						th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
				</div>
			</div>

			<div class="form-group">
				<label for="telephone" class="col-xs-3 control-label">电话</label>
				<div class="col-xs-6">
					<label class="form-control" th:text="${member.telephone}"></label> <span class="text-warning"
						th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}"></span>
				</div>
			</div>

			<div class="form-group">
				<label for="email" class="col-xs-3 control-label">邮箱</label>
				<div class="col-xs-6">
					<label class="form-control" th:text="${member.email}"></label> <span class="text-warning"
						th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
				</div>
			</div>

			<div class="form-group" th:classappend="${#fields.hasErrors('sex')}? 'has-error'">
				<label for="sex" class="col-xs-3 control-label">性别</label>
				<div class="col-xs-6">
					<label class="form-control" th:text="${member.sex==0?'女':'男'}"></label>
				</div>
			</div>

			<div class="form-group">
				<label for="age" class="col-xs-3 control-label">年龄</label>
				<div class="col-xs-6">
					<label class="form-control" th:text="${member.age}"></label> <span class="text-warning"
						th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
				</div>
			</div>
		</form>
</div>
</div>
</div>

	</div>

	<div layout:fragment="script">
		<script th:src="@{/assets/global/plugins/select2/select2.min.js}"></script>
		<script>
			$(function() {
				Metronic.init(); // init metronic core components
				Layout.init(); // init current layout
				QuickSidebar.init(); // init quick sidebar
				Demo.init(); // init demo features
			});
		</script>
	</div>
</body>
</html>
