<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
	<title>班级管理</title>
	<script type="text/javascript" charset="utf-8" src="../../assets/global/plugins/ckeditor2/ckeditor.js"></script>
	<script type="text/javascript" charset="utf-8" src="../../assets/global/plugins/ckeditor2/config.js"></script>
	<script th:src="@{/assets/global/plugins/jquery.min.js}" type="text/javascript"></script>
	<script th:src="@{/js/controller/material/check.js}"></script>	
<script>
</script>
    <script type="text/javascript">
$(function(){
	CKEDITOR.instances['ckeditor'].setData($("#content").val());
});
    function check(value){
        	var length = value.length;
        	//假设长度限制为10
        	if(length>64){
        		$("#message").css({display:"block",color:"red"});
        		$("#message").html("请输入小于64个字的标题");
        		return  false;
        	}
    }
    </script> 
</head>
<body>
	<div layout:fragment="content" >
		<div class="page-header">
			<h1>素材管理</h1>
		</div>
		<form class="form-horizontal" role="form" method="post" th:action="@{/material/materialupdate}"   enctype="multipart/form-data" onsubmit="return submitbefore()"  id="mainFormsubmit">
			<div class="form-group" >
							<label for="courseLevel" class="col-xs-3 control-label">类型</label>
							<div class="col-xs-6">
								<select class="form-control"  name="materialtype"   id="materialtype" >
                                <option th:each="list : ${list}" th:value="${list.id}"  th:text="${list.materialName}"></option>
								</select>
							 </div>
			</div> 
			<div class="form-group" id="title" >
				<label for="title" class="col-xs-3 control-label">标题封面</label>
				<div class="col-xs-6">
					<input type="file" class="form-control"   id="file" name="file"  />
				</div>
			</div>
			<div class="form-group" id="title" >
				<label for="title" class="col-xs-3 control-label">标题</label>
				<div class="col-xs-6">
					<input type="text" class="form-control" th:value="${material.materialName}"  id="title" name="title"  onblur="check(this.value)"/>
					<span id="message"  style="display: none;"></span>
				</div>
			</div>
			<div class="form-group" id="author" >
				<label for="title" class="col-xs-3 control-label">作者</label>
				<div class="col-xs-6">
					<input type="text" class="form-control" th:value="${material.author}"  id="author" name="author"/>
				</div>
			</div>
		<input type="hidden"  name="id"  th:value="${material.id}"  id="id"/>
		<div class="form-group">
		<textarea id="ckeditor" cols="20" rows="2" class="ckeditor"></textarea>
		<script type="text/javascript">
		CKEDITOR.replace('ckeditor');
		</script>
		</div>
		<input type="hidden"  id="content"  name="content"   th:value="${content}"/>
		<div id="tijiao" >
		<p class="text-center">
				<button type="submit" class="btn btn-primary"  >提交</button>
				<a th:href="@{/material/list}" class="btn btn-default">返回</a>
		</p>
		</div>
		</form>
	</div>
	<div layout:fragment="script">
		<script>
			$(function() {
				Metronic.init();
				Layout.init(); 
				QuickSidebar.init(); 
				Demo.init(); 
			});
		</script>
		
	</div>
</body>

</html>