﻿
<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<link rel="shortcut icon" href="../../img/showhtml.ico" /> 
<meta name="baidu-site-verification" content="R3hhjFalmQ" />

<title>儿童财经素养教育 财脑</title>

<link rel = 'stylesheet' type="text/css" th:href="@{/assets/global/plugins/bootstrap/css/bootstrap.min.css}"/>
<script src="../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>	

  
<!-- 响应式布局 -->
<link rel = 'stylesheet' type="text/css" th:href="@{/assets/global/plugins/bootstrap/css/bootstrap.css}"/>
<!-- Page level plugin styles START -->
  <link href="../../assets/global/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet"/>
  <link href="../../assets/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.css" rel="stylesheet"/>
  <link href="../../assets/global/plugins/slider-layer-slider/css/layerslider.css" rel="stylesheet"/>
  <!-- Page level plugin styles END -->
    <!-- BEGIN LayerSlider -->
    <script src="../../assets/global/plugins/slider-layer-slider/js/greensock.js" type="text/javascript"></script><!-- External libraries: GreenSock -->
    <script src="../../assets/global/plugins/slider-layer-slider/js/layerslider.transitions.js" type="text/javascript"></script><!-- LayerSlider script files -->
    <script src="../../assets/global/plugins/slider-layer-slider/js/layerslider.kreaturamedia.jquery.js" type="text/javascript"></script><!-- LayerSlider script files -->
    <script src="../../assets/frontend/pages/scripts/layerslider-init.js" type="text/javascript"></script>
    <!-- END LayerSlider -->
    	
    	<style type="text/css">
    		.layerslidersacss{
    		height:100%;
    		width: auto;
    		display: block;
    		position: relative;
    		z-index: 9999; 
    	
    		}
    		.layersliders p{
    		 margin-top: 0px !important;/* 
    		  height: auto !important; */
    		}
    		.layersliders{
    			width: 100% !important;
    		}
    		.ls-lt-container{
    			display: none;
    		}
    		.cssclass{
    		padding-left:10%;
    		padding-right:10%;
    		}
    		.ls-thumbnail-hover{
    			display: none !important;
    		}
    		.ahover1{
    			color: #fabf12 !important;
    			border-bottom: 2px solid #fabf12;
    		}
    	</style>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            Layout.init();    
            Layout.initOWL();
            LayersliderInit.initLayerSlider();
            Layout.initImageZoom();
            Layout.initTouchspin();
            Layout.initTwitter();
       		$(".layersliders").each(function(){
       			var showcontents =$(this).find('#showcontent').attr('value'); 
       		   $(this).html(showcontents); 
       		   $(this).find('p').addClass("ls-bg");
       		   $(this).find('img').addClass("img-responsive")
       			$(this).find('img').css('height','100%')
       			$(this).find('a').addClass('layerslidersacss')
       			$(this).find('img').css('width','auto')
       			$(this).find('p').addClass("cssclass");
       			
       		});
       		
       		$(".navigationbarModule").each(function(){
       			$(this).click(function(){
       				window.location.href="/footermaterial/index?type="+$(this).attr("id");
       			})
       		})
       		
        });
    </script>
    <style type="text/css">
       
</style>
<script type="text/javascript">
/* function checkseesionuser() {
	if ($("#sessionuser").val() != "") {
		window.location.href = "/myinformation/baby";
	}else if($("#sessionuser").val()==""){
				$("#sessionuser").css('display','block');
				window.location.href = "/user/logins";
			} 
} */
function tocourse(){
	window.location.href="/course/index"
}
/* function userlogin(){
	if ($("#sessionuser").val() != "") {
		window.location.href = "/project/li/"+$("#ids").val();
	}else if($("#sessionuser").val()==""){
				$("#sessionuser").css('display','block');
				window.location.href = "/user/logins";
			} 
} */
</script>
</head>

<body style="padding: 0px; margin: 0px;" onload="test()">
 <input type="hidden" th:value="${session.childids}"  id="ids"/>
	<div th:replace="partial/header-new" class="header" style="width: auto;"></div>
<!-- 第一块-->
<div class = "col-md-12 col-xs-12 col-sm-12" style = "background-color:#ffd464;text-align:center;padding: 0px;margin-top:-5px;">

 <!-- BEGIN SLIDER -->
    <div class="page-slider margin-bottom-35 " >
      <!-- LayerSlider start -->
      <div id="layerslider" style="width: 100%; height: 494px; margin: 0 auto;" class="" >
      
      
        <div class="ls-slide  layerslidersshow layersliders" data-ls="offsetxin: right; slidedelay: 2000; " align="center" th:each="carouselimg:${carouselimg}">
         <input type="hidden"  th:value="${carouselimg.content}" id="showcontent"/> 
      
		
         </div>
        
      </div>
    </div>
    <!-- END SLIDER -->
<!--  -->
</div>
<!-- 第二块-->
<div class = "col-md-12 col-xs-12 col-sm-12" style = "padding:0px; background-color:#0151a6;">
<div class = "col-md-12 col-xs-12 col-sm-12" style = "height:47px"></div> 
<!-- 第一张图 -->
 <div class = "col-md-4 col-xs-12 col-sm-12" style = "padding:0px;text-align:center;height:236px;margin-bottom:58px;">
<div class = "col-xs-1 col-sm-1"></div>
<div class = "col-xs-10 col-sm-10"><img alt="" src="../../img/home/new/activity.png" class = "img-responsive" style="padding:0px;margin:0 auto; height:auto;padding-top:3px;"/></div>
<div class = "col-xs-1 col-sm-1"></div>


 <div class = "col-md-12 col-xs-12 col-sm-12" style = "padding-top:32px;">
<div class = "col-md-4 col-xs-3 col-sm-3" style = "padding:0px;"></div>
<div class = "col-md-4 col-xs-6 col-sm-6" onclick="window.location.href='/activity/index?type=0'" style = "padding:0px;cursor:pointer;   font-size:18px;color:#f4f4f2;background-color:transparent; text-align:center;border:2px solid white; border-radius:50px !important; ">快慢评测</div>
<div class = "col-md-4 col-xs-3 col-sm-3" style = "padding:0px;"></div>
</div>
<div class = "col-md-12 col-xs-12 col-sm-12" style = "padding-top:20px;">
<div class = "col-md-3 col-xs-1 col-sm-1" style = "padding:0px;"></div>
<div class = "col-md-6 col-xs-10 col-sm-10" style = "padding:0px;text-align:center;font-size:14px;color:#f4f4f2;">家校交流评测社区</div>
<div class = "col-md-3 col-xs-1 col-sm-1" style = "padding:0px;"></div>
</div>

</div> 
<!-- 第二张图 -->
 <div class = "col-md-4 col-xs-12 col-sm-12" style = "padding:0px;text-align:center;height:236px;margin-bottom:58px;">
<div class = "col-xs-1 col-sm-1"></div>
<div class = "col-xs-10 col-sm-10"><img alt="" src="../../img/home/new/course.png" class = "img-responsive" style="padding:0px;margin:0 auto;height:auto;padding-top:0px;"/></div>
<div class = "col-xs-1 col-sm-1"></div>

 <div class = "col-md-12 col-xs-12 col-sm-12" style = "padding-top:32px;">
<div class = "col-md-4 col-xs-3 col-sm-3" style = "padding:0px;"></div>
<div class = "col-md-4 col-xs-6 col-sm-6" onclick="tocourse()" style = "padding:0px;cursor:pointer;  font-size:18px;color:#f4f4f2;background-color:transparent; text-align:center;border:2px solid white; border-radius:50px !important; ">财脑课程 </div>
<div class = "col-md-4 col-xs-3 col-sm-3" style = "padding:0px;"></div>
</div>


<div class = "col-md-12 col-xs-12 col-sm-12" style = "padding-top:16px;">
<div class = "col-md-3 col-xs-1 col-sm-1" style = "padding:0px;"></div>
<div class = "col-md-6 col-xs-10 col-sm-10" style = "padding:0px;text-align:center; font-size:14px;color:#f4f4f2;">财经素养学习经验积累</div>
<div class = "col-md-3 col-xs-1 col-sm-1" style = "padding:0px;"></div>
</div>

</div> 
<div class = "col-md-4 col-xs-12 col-sm-12" style = "padding:0px; text-align:center;height:236px;margin-bottom:58px; ">

<div class = "col-xs-1 col-sm-1"></div>
<div class = "col-xs-10 col-sm-10"><img alt="" src="../../img/home/new/xunlianqi.png" class="img-responsive" style="padding:0px;margin:0 auto; height:auto; padding-top:13px;"/></div>
<div class = "col-xs-1 col-sm-1"></div>


 <div class = "col-md-12 col-xs-12 col-sm-12" style = "padding-top:32px;">
<div class = "col-md-4 col-xs-3 col-sm-3" style = "padding:0px;"></div>
<div class = "col-md-4 col-xs-6 col-sm-6" onclick="userlogin()" style = "padding:0px;cursor:pointer;  font-size:18px;color:#f4f4f2;background-color:transparent; text-align:center;border:2px solid white; border-radius:50px !important; ">代币塑造</div>
<div class = "col-md-4 col-xs-3 col-sm-3" style = "padding:0px;"></div>
</div>
<div class = "col-md-12 col-xs-12 col-sm-12" style = "padding-top:16px;">
<div class = "col-md-3 col-xs-1 col-sm-1" style = "padding:0px;"></div>
<div class = "col-md-6 col-xs-10 col-sm-10" style = "padding:0px;text-align:center; font-size:14px;color:#f4f4f2;">儿童财脑行为银行</div>
<div class = "col-md-3 col-xs-1 col-sm-1" style = "padding:0px;"></div>
</div>

</div>
<!-- 第三张图 -->

</div>
<!-- 第三块 -->
<div class="col-xs-12 col-md-12 col-sm-12" style="background-color:white;padding-top: 35px;padding-bottom: 20px; ">
<div class="col-xs-12 col-md-12 col-sm-12" style="padding: 0px;margin-bottom: 15px;color: #0151a6;text-align: center;font-weight: bold;">联合研发
</div>
<!-- 图片合作机构 -->
<div class="col-xs-12 col-md-12 col-sm-12" style="padding: 0px;margin-top:15px;">
  <div class="col-md-6 col-xs-12 col-sm-12" style="padding: 0px;margin-bottom: 40px;">
	  	<div class="col-md-6 col-xs-6 col-sm-6" style="padding: 0px;">
	  		<div class="col-md-2"></div>
	  		<div class="col-md-10">
	  		<img alt="" src="../../img/beijingun1.png" class="img-responsive"/>
	  		</div>
	  		
	   </div>
	   <div class="col-md-6 col-xs-6 col-sm-6" style="padding: 0px;">
	   <div class="col-md-2"></div>
	  		<div class="col-md-10">
	  		<img alt="" src="../../img/beijingun2.png"  class="img-responsive"/>
	  		</div>
	  		
	   </div>
  </div>
  
  <div class="col-md-6 col-xs-12 col-sm-12" style="padding: 0px;margin-bottom: 40px;">
	  	<div class="col-md-6 col-xs-6 col-sm-6">
	  	 <div class="col-md-2"></div>
	  		<div class="col-md-10">
	  			<img alt="" src="../../img/centercai.png"  class="img-responsive"/>
	  		</div>
	  	
	   </div>
	   <div class="col-md-6 col-xs-6 col-sm-6" style="padding: 0px;">
	   <div class="col-md-2"></div>
	  		<div class="col-md-10">
	  			<img alt="" src="../../img/usaifbrain.png"  class="img-responsive"/>
	  		</div>
	  		
	   </div>
  </div>
</div>
</div>











	<div style="max-width: 100%;background-color: #0151A6;color: white;;text-align: center;padding: 0;" class="col-md-12 col-xs-12 col-sm-12" id="footerahref">
<!-- 上边距 -->
<div class="col-xs-12 col-sm-12 col-md-12" style="height: 90px;">
	
</div>
<div class="col-xs-12 col-md-6 col-sm-12" style="height: 180px;">
	<div class="col-md-4 "></div>
	<div class="col-md-8 " style="text-align: left;">
		<div class="col-md-12 col-sm-12 col-xs-12" style="font-size: 1.8rem;margin-bottom: 10px;">
			课程活动咨询
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12" style="font-size: 2.5rem;margin-bottom: 10px;">
			010-8253-5018
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12" style="color: #dcdcd9;font-size: 1.4px;">
			(上午9:00-下午6:00)
		</div>
	</div>
	
</div>
<div class="col-xs-12 col-md-6 col-sm-12" style="height: 180px;" align="left">
	<div class="col-xs-6 col-md-6 col-sm-6 ">
	    <div class="col-xs-12 col-md-12 col-sm-12 navigationbarModule" style="font-size: 1.4rem;margin-bottom: 5px;cursor: pointer;" th:if="${navigationbarModule!=''}" th:each="navigationbarModule:${navigationbarModule}" th:text="${navigationbarModule.title}" th:id="${navigationbarModule.type}"></div>
	  
	</div>
	<div class="col-xs-6 col-md-6 col-sm-6 " align="left">
		 <div class="col-xs-12 col-md-12 col-sm-12" style="font-size: 1.8rem;margin-bottom: 15px;padding: 0px">&nbsp;&nbsp;微信公众号</div>
	    <div class="col-xs-12 col-md-12 col-sm-12" style="padding: 0px;">
	    <img src="../../img/shouyewechat.png" class="img-responsive col-md-4" />
	    </div>
	</div>
</div>
<div  class="col-md-12 col-xs-12 col-sm-12" style="padding: 0;font-size: 1.0rem;">
<span style="">©</span> <span>2015ifbrain.com. All Rights Reserved.</span><a href="http://www.miibeian.gov.cn/state/outPortal/loginPortal.action" style="color: white">京ICP备15059287号</a>
</div>
</div>
	<script src="../../assets/global/plugins/jquery.min.js"
		type="text/javascript"></script>
	<script src="../../assets/global/plugins/jquery-migrate.min.js"
		type="text/javascript"></script>
	<script src="../../assets/global/plugins/bootstrap/js/bootstrap.min.js"
		type="text/javascript"></script>
	<script src="../../assets/frontend/layout/scripts/back-to-top.js"
		type="text/javascript"></script>
	<script
		src="../../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js"
		type="text/javascript"></script>
	<!-- END CORE PLUGINS -->

	<!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
	<script
		src="../../assets/global/plugins/fancybox/source/jquery.fancybox.pack.js"
		type="text/javascript"></script>
	<!-- pop up -->
	<script
		src="../../assets/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.min.js"
		type="text/javascript"></script>
	<!-- slider for products -->
	<script src="../../assets/global/plugins/zoom/jquery.zoom.min.js"
		type="text/javascript"></script>
	<!-- product zoom -->
	<script
		src="../../assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js"
		type="text/javascript"></script>
	<!-- Quantity -->

	<!-- BEGIN LayerSlider -->
	<script
		src="../../assets/global/plugins/slider-layer-slider/js/greensock.js"
		type="text/javascript"></script>
	<!-- External libraries: GreenSock -->
	<script
		src="../../assets/global/plugins/slider-layer-slider/js/layerslider.transitions.js"
		type="text/javascript"></script>
	<!-- LayerSlider script files -->
	<script
		src="../../assets/global/plugins/slider-layer-slider/js/layerslider.kreaturamedia.jquery.js"
		type="text/javascript"></script>
	<!-- LayerSlider script files -->
	<script src="../../assets/frontend/pages/scripts/layerslider-init.js"
		type="text/javascript"></script>
	<!-- END LayerSlider -->

	<script src="../../assets/frontend/layout/scripts/layout.js"
		type="text/javascript"></script>
</body>
</html>
