<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>我们的团队</title>

<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<meta content="Metronic Shop UI description" name="description" />
<meta content="Metronic Shop UI keywords" name="keywords" />
<meta content="keenthemes" name="author" />

<meta property="og:site_name" content="-CUSTOMER VALUE-" />
<meta property="og:title" content="-CUSTOMER VALUE-" />
<meta property="og:description" content="-CUSTOMER VALUE-" />
<meta property="og:type" content="website" />
<meta property="og:image" content="-CUSTOMER VALUE-" />
<!-- link to image for socio -->
<meta property="og:url" content="-CUSTOMER VALUE-" />
<link
	href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|PT+Sans+Narrow|Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all"
	rel="stylesheet" type="text/css" />
<!-- Fonts END -->

<!-- Global styles START -->
<link
	href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" />
<link href="../../assets/global/plugins/bootstrap/css/bootstrap.min.css"
	rel="stylesheet" />
<!-- Global styles END -->

<!-- Page level plugin styles START -->
<link
	href="../../assets/global/plugins/fancybox/source/jquery.fancybox.css"
	rel="stylesheet" />
<link
	href="../../assets/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.css"
	rel="stylesheet" />
<link
	href="../../assets/global/plugins/slider-revolution-slider/rs-plugin/css/settings.css"
	rel="stylesheet" />
<!-- Page level plugin styles END -->

<!-- Theme styles START -->
<link href="../../assets/global/css/components.css" rel="stylesheet" />
<link href="../../assets/frontend/layout/css/style.css" rel="stylesheet" />
<link href="../../assets/frontend/pages/css/style-revolution-slider.css"
	rel="stylesheet" />
<!-- metronic revo slider styles -->
<!-- <link href="../../assets/frontend/layout/css/style-responsive.css" rel="stylesheet" />
<link href="../../assets/frontend/layout/css/themes/red.css" rel="stylesheet" id="style-color" />
<link href="../../assets/frontend/layout/css/custom.css" rel="stylesheet" /> -->
<!-- 
  <link href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"/> -->
<link href="../../assets/frontend/onepage/css/style.css"
	rel="stylesheet" />
<!--   <link href="../../assets/frontend/onepage/css/themes/red.css" rel="stylesheet" id="style-color"/>
  <link href="../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/> -->
<script src="../../assets/frontend/pages/scripts/top.js"></script>
<style type="text/css">
.clearfix {
	clear: both;
}
</style>
<!-- <style type="text/css">

	#button1{
	background-image: url("../../img/关于财脑.png") ;
	}
	#button1:hover{
	background-image: url("../../img/关于财脑鼠标置上状态.png") ;
	}
	#button_1:visited{
	    background-image: url("../../关于财脑选中状态.png");
	
	}
	#button2{
	background-image: url("../../img/进入试用_03.png") ;
	}
	#button2:hover{
	background-image: url("../../img/进入试用鼠标置上状态.png") ;
	}
	#shouye{
	background-image: url("../../img/首页1.png");
	}
	
	#shouye:hover{
	background-image: url("../../img/首页2.png");
	}
	
		#cainao{
	background-image: url("../../img/财脑1.png");
	}
		#cainao:hover{
	background-image: url("../../img/财脑2.png");
	}
		#kecheng{
	background-image: url("../../img/课程1.png");
	}
		#kecheng:hover{
	background-image: url("../../img/课程2.png");
	}
		#huodong{
	background-image: url("../../img/活动1.png");
	}
		#huodong:hover{
	background-image: url("../../img/活动2.png");
	}
		#guanyuwomen{
	background-image: url("../../img/关于我们2.png");
	}
		/* #guanyuwomen:hover{
	background-image: url("../../img/关于我们2.png");
	} */
		#diaochafankui{
	background-image: url("../../img/调查反馈1.png");
	}
		#diaochafankui:hover{
	background-image: url("../../img/调查反馈2.png");
	}
	
</style> -->
<script type="text/javascript">
	function shiyong() {
		window.location.href = "/project/shiyong";
	}
	function fankui() {
		window.location.href = "/survey/add";
	}
</script>
</head>
<body class="corporate" style="background-color: #eff2f7">

	<div class="container">
		<!-- head -->
		<div th:replace="partial/header-new" class="header"
			style="width: auto;"></div>


		<!-- end head -->

		<!-- content -->
		<div style="background-color: white;max-width: 710px;" class="container">
			<div style="height: 30px;"></div>
			<div class="" align="center">
				<img alt="" src="../../img/财经素养.png" class="img-responsive" />
			</div>
			<div style="height: 30px;"></div>
			<div class="container" align="center" style="max-width: 550px;">
				<font face="Arial, Helvetica, sans-serif" size="3" color="#882013"
					style="font-size: 48px; padding-bottom: 5%"> <strong
					style="font-family: 微软雅黑; font-size: 36px; color: #882013;">
						专业、立体的全方位强强联合   </strong>
				</font>
				<div ><img src="../../img/ourteam.png" class="img-responsive" style="border: none;"/></div>
				
				<div style="text-align: left;">
				<br /> <font face="Arial, Helvetica, sans-serif" size="1"
					style="font-size: 18px; margin-top: 5%;text-align: left;line-height: 38px;">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;——三只手臂分别代表北京师范大学财经素养教育研究中心、北京师范大学认知神经科学与学习国家重点实验室、清弈谷科技公司儿童财脑教育研发中心。
        <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;——三方定位小标签分别为“课程理论体系建立”、“评估和数据采析”、“互联网和实践扩展”。

					
				</font>
</div>

<div style="text-align: left;">
				<br /> <font face="Arial, Helvetica, sans-serif" size="1"
					style="font-size: 18px; margin-top: 5%;text-align: left;line-height: 38px;">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;北京师范大学财经素养教育研究中心：引进美国国家金融教育学者委员会（NFEC）引进美国财经素养教育的先进理念和课程体系，融入教育学、心理学和金融学等学科的先进理论，制订了一套针对中国儿童财经素养教育的课程理论体系。
        <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;脑与认知科学研究院认知神经科学与学习国家重点实验室：借鉴经济合作与发展组织（OECD）的国际学生评估项目（PISA），建立了财脑训练项目相应的评估体系，可以全面地采集和分析训练数据，对儿童财经素养水平和发展阶段做出整体测评。
        <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;清弈谷科技公司儿童财脑教育研发中心：开发国内唯一针对儿童财经素养培养的“财脑训练器”，以互动游戏的方式完成日常训练计划，养成良好的财富规划习惯。同时，配套网站和微信、微博客户端，让学生、家长、教学者和专家之间形成一个完整的互动圈。我们还结合课程理论体系设计了一系列主题鲜明的财脑训练拓展活动，让训练成果得以巩固和展现。

					
				</font>
</div>
			</div>
		</div>
		<!-- end content -->

		<div th:replace="partial/footer-new" class="header"
			style="width: auto;"></div>
	</div>
	<!-- END FOOTER -->

	<!-- Load javascripts at bottom, this will reduce page load time -->
	<!-- BEGIN CORE PLUGINS (REQUIRED FOR ALL PAGES) -->
	<!--[if lt IE 9]>
    <script src="../../assets/global/plugins/respond.min.js"></script>
    <![endif]-->
	<script src="../../assets/global/plugins/jquery.min.js"
		type="text/javascript"></script>
	<script src="../../assets/global/plugins/jquery-migrate.min.js"
		type="text/javascript"></script>
	<script src="../../assets/global/plugins/bootstrap/js/bootstrap.min.js"
		type="text/javascript"></script>
	<script src="../../assets/frontend/layout/scripts/back-to-top.js"
		type="text/javascript"></script>
	<!-- END CORE PLUGINS -->

	<!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
	<script
		src="../../assets/global/plugins/fancybox/source/jquery.fancybox.pack.js"
		type="text/javascript"></script>
	<!-- pop up -->
	<script
		src="../../assets/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.min.js"
		type="text/javascript"></script>
	<!-- slider for products -->

	<!-- BEGIN RevolutionSlider -->
	<script
		src="../../assets/global/plugins/slider-revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js"
		type="text/javascript"></script>
	<script
		src="../../assets/global/plugins/slider-revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js"
		type="text/javascript"></script>
	<script src="../../assets/frontend/pages/scripts/revo-slider-init.js"
		type="text/javascript"></script>
	<!-- END RevolutionSlider -->

	<script src="../../assets/frontend/layout/scripts/layout.js"
		type="text/javascript"></script>

	<script type="text/javascript">
		jQuery(document).ready(function() {
			Layout.init();
			Layout.initOWL();
			RevosliderInit.initRevoSlider();
			Layout.initTwitter();
			//Layout.initFixHeaderWithPreHeader(); /* Switch On Header Fixing (only if you have pre-header) */
			//Layout.initNavScrolling(); 
		});
	</script>
	<!-- END PAGE LEVEL JAVASCRIPTS -->
</body>
</html>