<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout" data-ng-app="_app">
<head>
	<title>查询孩子心愿清单</title>
	<!-- DataTables -->
<!-- 使用jQuery Validation控件进行前端验证 -->
	<script th:src="@{/webjars/jquery-validation/1.13.1/jquery.validate.min.js}"></script>
	<script th:src="@{/webjars/jquery-validation/1.13.1/additional-methods.min.js}"></script>
	<script th:src="@{/js/lib/jquery-validation/messages_zh.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/js/lib/datatables/plug-ins/dataTables.bootstrap.css}" />
	<link src="../../assets/global/plugins/bootstrap-select/bootstrap-select.css"/>
	<script th:src="@{/webjars/datatables/1.10.6/js/jquery.dataTables.js}"></script>
	<script th:src="@{/js/lib/datatables/plug-ins/dataTables.bootstrap.min.js}"></script>
	<script th:src="@{/webjars/angularjs/1.3.16/angular.min.js}"></script> 
	<script th:src="@{/js/lib/jsog/JSOG.js}"></script>
	<link href="../../assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>
		<link rel="stylesheet" type="text/css" href="../../assets/global/plugins/select2/select2.css"/>
	<script th:src="@{/js/controller/childinformation/childinformation-controller.js}"></script>
	<script type="text/javascript" src="../../assets/global/plugins/bootstrap-select/bootstrap-select.js"></script>
	<script>
	function check(){
		var user=$("#User").val();
		
		if(user=="? undefined:undefined ?"){
			alert("请选择信息!");
			return false;
		}
		else{
			$("#mainForm").submit();
		}
	}
	</script>
</head>
<body data-ng-controller="childInformationController">
	 <div layout:fragment="content">
		<div class="page-header">
	 		<h1>查询孩子心愿清单</h1>
		</div>
		
	 	<form class="form-horizontal" role="form" method="post"  id="mainForm" th:action="@{/wish/index}"   enctype="multipart/form-data">
			<div class="form-group" >
				<label for="cityName" class="col-xs-3 control-label">家长姓名</label>
				<div class="col-xs-6">
					 <select class="form-control input-xlarge select2me"  id="User" data-ng-model="User" data-ng-change="change1(User)"  >
										<option th:each="user : ${userList}" th:value="${user.id}" th:text="${user.firstName}+${user.lastName}"></option>
								</select>
					<span class="text-danger" ></span>
				</div>
			</div>
			<div class="form-group" >
				<label for="cityName" class="col-xs-3 control-label">学生姓名</label>
				<div class="col-xs-6">
					<select class="form-control" id="ChildName" name="ChildName" data-model="ChildName" >
						<option  data-ng-repeat="child in ChildName" value="{{child.id}}" id="childid">{{child.name}}</option>
					</select>
					<span class="text-danger" ></span>
				</div>
			</div>
			<p class="text-center">
			<input type="button" onclick="check()"  class="btn btn-primary" id="alltrues" value="查询"/>
			</p>
			
		                      
			
		</form>
	<script type="text/javascript" src="../../assets/global/plugins/select2/select2.min.js"></script>
	<script>
        jQuery(document).ready(function() {       
           Metronic.init(); 
			Layout.init();
			QuickSidebar.init(); 
			 ComponentsDropdowns.init();
			Demo.init();
          
        });   
    </script>
	</div>
	 
</body>

</html>