<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
	<title>API供应价格管理</title>
	<!-- DataTables -->
	<link rel="stylesheet" type="text/css" th:href="@{/js/lib/datatables/plug-ins/dataTables.bootstrap.css}" />
	<script th:src="@{/webjars/datatables/1.10.6/js/jquery.dataTables.js}"></script>
	<script th:src="@{/js/lib/datatables/plug-ins/dataTables.bootstrap.min.js}"></script>
</head>
<body>
	<div layout:fragment="content">
		<div class="page-header">
			<h1>API供应价格管理</h1>
		</div>
		<a class="btn btn-default" id="addTable" th:href="@{'/supplierpriceruleactive/create?supplierpriceruleactiveId='+${supplier.id}}">新增</a>
		<input  type="hidden"  id="supplierpriceruleactiveId"  th:value="${supplier.id}"  />
		<input  type="hidden"  id="supplierpriceruleactiveEnName"  th:value="${supplier.enName}"  />
		<input  type="hidden"  id="supplierpriceruleactiveCnName"  th:value="${supplier.cnName}"  />
		<table id="table" class="table table-striped table-bordered table-hover">
		    <thead>
		        <tr>
		            <th>供应商类型</th>
		            <th>英文名称</th>
		            <th>中文名称</th> 
		            <th>价格系数</th>
		            <th>操作</th> 
		        </tr>
		    </thead>
		</table>
	</div>
	<div layout:fragment="script">
		<script th:src="@{/assets/global/plugins/select2/select2.min.js}"></script>
		<script th:src="@{/js/controller/supplierpriceruleactive-controller.js}"></script>
		<script>
			$(function() {
				Metronic.init(); // init metronic core components
				Layout.init(); // init current layout
				QuickSidebar.init(); // init quick sidebar
				Demo.init(); // init demo features
				SupplierPriceRuleActiveController.init();
			});
		</script>
	</div>
</body>

</html>