<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title >财脑课程</title> 
   <link rel="shortcut icon" href="../../img/showhtml.ico" />
   <link href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"/> 
   <script src="../../assets/frontend/pages/scripts/top.js"></script>
  
   <link href="../../assets/global/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet"/>
  <link href="../../assets/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.css" rel="stylesheet"/>
  <link href="../../assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
  <link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <link href="../../assets/global/plugins/rateit/src/rateit.css" rel="stylesheet" type="text/css"/>
 
  <link href="../../assets/global/css/components.css" rel="stylesheet"/>
  <link href="../../assets/frontend/layout/css/style.css" rel="stylesheet"/>
  <link href="../../assets/frontend/pages/css/style-shop.css" rel="stylesheet" type="text/css"/>
  <link href="../../assets/frontend/layout/css/themes/red.css" rel="stylesheet" id="style-color"/> 
   <link href="../../assets/frontend/layout/css/style-responsive.css" rel="stylesheet"/> 
 <link href="../../assets/frontend/layout/css/custom.css" rel="stylesheet"/>
   <link href="../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
 <link href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
 <style type="text/css">
 	#contentshow img{ 
 		display:block;margin:0 auto;
 	}
 </style>
 <style type="text/css">
 		.tracking3{
    			color: red !important;
    			
    		}
 	</style>
</head>
<body style="padding: 0px; margin: 0px;background-color: #ffd464;">
<!-- header -->
	<div class="v-jr-slide-wrap">
        
  <div th:replace="partial/header-new" class="header" style="width: auto;"></div>
        <div class="v-jr-slide-box v-jr-clear" id="js-slide-box">					
	<div class="container" style="max-width: 710px; padding: 0px;">
	<div id="mailsub" class="notification col-md-12 col-xs-12 col-sm-12 " align="center" style="max-width: 710px">		
		<div style="margin-top: 10px;background-color: white;border-radius:10px !important;padding: 0px;padding-top: 20px; "  class=" col-md-12 col-xs-12 col-sm-12">
			<div class="col-xs-4 col-md-4 col-sm-4" style="">
				<div class="col-xs-2 col-md-1 col-sm-2" style="text-align: right;height: 30px;padding: 0px;" align="right"><div style="width: 8px;height: 8px;border-radius:50% !important;background-color: #ffd464;margin-top:10px;"></div></div>
				<div class="col-xs-9 col-md-11 col-sm-9" style="text-align: left;padding: 0px;" align="left"><input type="text" readonly="readonly" style="border: none;background-color: transparent;width: 100%;font-size: 12px;color: #333333 " value="财脑课程"/></div>
			</div>
			<div class="col-xs-4 col-md-4 col-sm-4" style="padding: 0px;">
				<div class="col-xs-2 col-md-1 col-sm-2" style="text-align: right;height: 30px;padding: 0px;" align="right"><div style="width: 8px;height: 8px;border-radius:50% !important;background-color: #ffd464;margin-top:10px;"></div></div>
				<div class="col-xs-9 col-md-11 col-sm-9" style="text-align: left;padding: 0px;" align="left"><input type="text" readonly="readonly" style="border: none;background-color: transparent;width: 100%;font-size: 12px;color: #333333 " th:value="${Publicmaterialdetail.publicmaterialName}"/></div>
			</div>
			<!-- <div class="col-xs-4 col-md-4 col-sm-4" style="padding: 0px;">
				<div class="col-xs-2 col-md-1 col-sm-2" style="text-align: right;height: 30px;padding: 0px;" align="right"><div style="width: 8px;height: 8px;border-radius:50% !important;background-color: #ffd464;margin-top:10px;"></div></div>
				<div class="col-xs-9 col-md-11 col-sm-9" style="text-align: left;padding: 0px;" align="left"><input type="text" readonly="readonly" style="border: none;background-color: transparent;width: 100%;font-size: 12px;color: #333333 " value="文章"/></div>
			</div> -->
			<div class="col-xs-12 col-md-12 col-sm-12" style="padding: 0px;font-size: 18px;font-weight: bold;margin-bottom: 20px;" th:text="${Publicmaterialdetail.publicmaterialName}">
				
			</div>
			<div class="col-xs-12 col-md-12 col-sm-12" style="margin-bottom: 20px">
				<!-- <div  class="col-xs-4 col-md-2 col-sm-4" style="font-size: 10px;color: #3a7fc2;padding: 0px;">财脑快讯</div> -->
				<!-- <div  class="col-xs-5 col-md-8 col-sm-5" style="font-size: 10px;color: #6e6e6e;padding: 0px;text-align: left;" th:text="${#dates.format(Publicmaterialdetail.createTime,'yyyy-MM-dd HH:mm')}"></div>
				<div  class="col-xs-3 col-md-2 col-sm-3" style="font-size: 10px;color: #6e6e6e;padding: 0px;" th:text="${Publicmaterialdetail.author}"></div> -->
			</div>
			<!-- 读取素材 -->
		<input type="hidden"  th:value="${Publicmaterial}" id="show"/> 
		<div class="col-md-12 col-xs-12 col-sm-12 contentshow"  id="contentshow"  style=" " >
		
		</div>
		</div>
		</div>
		</div>
	</div>
	</div>
	<script src="../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>      
    <script src="../../assets/frontend/layout/scripts/back-to-top.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->

    <!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
    <script src="../../assets/global/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script><!-- pop up -->
    <script src="../../assets/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.min.js" type="text/javascript"></script><!-- slider for products -->
    <script src='../../assets/global/plugins/zoom/jquery.zoom.min.js' type="text/javascript"></script><!-- product zoom -->
    <script src="../../assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script><!-- Quantity -->

    <!-- BEGIN LayerSlider -->
    <script src="../../assets/global/plugins/slider-layer-slider/js/greensock.js" type="text/javascript"></script><!-- External libraries: GreenSock -->
    <script src="../../assets/global/plugins/slider-layer-slider/js/layerslider.transitions.js" type="text/javascript"></script><!-- LayerSlider script files -->
    <script src="../../assets/global/plugins/slider-layer-slider/js/layerslider.kreaturamedia.jquery.js" type="text/javascript"></script><!-- LayerSlider script files -->
    <script src="../../assets/frontend/pages/scripts/layerslider-init.js" type="text/javascript"></script>
    <!-- END LayerSlider -->

    <script src="../../assets/frontend/layout/scripts/layout.js" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            Layout.init();    
            Layout.initOWL();
            LayersliderInit.initLayerSlider();
            Layout.initImageZoom();
            Layout.initTouchspin();
            Layout.initTwitter();
            $("#contentshow").html($("#show").val());
             $("#contentshow img").addClass("img-responsive");
            $("p").css({"text-align":"left"});
        });
    </script> 
</body>
</html>