<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>幼儿财经素养教育</title>

<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<meta content="Metronic Shop UI description" name="description" />
<meta content="Metronic Shop UI keywords" name="keywords" />
<meta content="keenthemes" name="author" />

<meta property="og:site_name" content="-CUSTOMER VALUE-" />
<meta property="og:title" content="-CUSTOMER VALUE-" />
<meta property="og:description" content="-CUSTOMER VALUE-" />
<meta property="og:type" content="website" />
<meta property="og:image" content="-CUSTOMER VALUE-" />
<!-- link to image for socio -->
<meta property="og:url" content="-CUSTOMER VALUE-" />
<link
	href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|PT+Sans+Narrow|Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all"
	rel="stylesheet" type="text/css" />
<!-- Fonts END -->

<!-- Global styles START -->
<link
	href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" />
<link href="../../assets/global/plugins/bootstrap/css/bootstrap.min.css"
	rel="stylesheet" />
<!-- Global styles END -->

<!-- Page level plugin styles START -->
<link
	href="../../assets/global/plugins/fancybox/source/jquery.fancybox.css"
	rel="stylesheet" />
<link
	href="../../assets/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.css"
	rel="stylesheet" />
<link
	href="../../assets/global/plugins/slider-revolution-slider/rs-plugin/css/settings.css"
	rel="stylesheet" />
<!-- Page level plugin styles END -->

<!-- Theme styles START -->
<link href="../../assets/global/css/components.css" rel="stylesheet" />
<link href="../../assets/frontend/layout/css/style.css" rel="stylesheet" />
<link href="../../assets/frontend/pages/css/style-revolution-slider.css"
	rel="stylesheet" />
<!-- metronic revo slider styles -->
<!-- <link href="../../assets/frontend/layout/css/style-responsive.css" rel="stylesheet" />
<link href="../../assets/frontend/layout/css/themes/red.css" rel="stylesheet" id="style-color" />
<link href="../../assets/frontend/layout/css/custom.css" rel="stylesheet" /> -->
<!-- 
  <link href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"/> -->
<link href="../../assets/frontend/onepage/css/style.css"
	rel="stylesheet" />
<!--   <link href="../../assets/frontend/onepage/css/themes/red.css" rel="stylesheet" id="style-color"/>
  <link href="../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/> -->
<script src="../../assets/frontend/pages/scripts/top.js"></script>
<style type="text/css">
.clearfix {
	clear: both;
}
</style>
<!-- <style type="text/css">

	#button1{
	background-image: url("../../img/关于财脑.png") ;
	}
	#button1:hover{
	background-image: url("../../img/关于财脑鼠标置上状态.png") ;
	}
	#button_1:visited{
	    background-image: url("../../关于财脑选中状态.png");
	
	}
	#button2{
	background-image: url("../../img/进入试用_03.png") ;
	}
	#button2:hover{
	background-image: url("../../img/进入试用鼠标置上状态.png") ;
	}
	#shouye{
	background-image: url("../../img/首页1.png");
	}
	
	#shouye:hover{
	background-image: url("../../img/首页2.png");
	}
	
		#cainao{
	background-image: url("../../img/财脑1.png");
	}
		#cainao:hover{
	background-image: url("../../img/财脑2.png");
	}
		#kecheng{
	background-image: url("../../img/课程1.png");
	}
		#kecheng:hover{
	background-image: url("../../img/课程2.png");
	}
		#huodong{
	background-image: url("../../img/活动1.png");
	}
		#huodong:hover{
	background-image: url("../../img/活动2.png");
	}
		#guanyuwomen{
	background-image: url("../../img/关于我们2.png");
	}
		/* #guanyuwomen:hover{
	background-image: url("../../img/关于我们2.png");
	} */
		#diaochafankui{
	background-image: url("../../img/调查反馈1.png");
	}
		#diaochafankui:hover{
	background-image: url("../../img/调查反馈2.png");
	}
	
</style> -->
<style type="text/css">
@font-face {
	font-family: myfont1;
	src: url("/font/font.ttf");
}

@font-face {
	font-family: myfont2;
	src: url("/font/navfont.ttf");
}
</style>
<script type="text/javascript">
	function open123() {
		alert("123");
		window
				.open(
						"jinqikecheng",
						"newwindow",
						"height=620, width=700, toolbar=no,menubar=no, scrollbars=no, resizable=no, location=no, status=no")
	}
	function fankui() {
		window.location.href = "/survey/add";
	}
</script>
</head>
<body style="background-color: #eff2f7">
	<!-- header start -->
	<div th:replace="partial/header-new" class="header"></div>
	<!-- header end -->

	<table style="max-width: 710px;" class="container">
		<tr>
			<td align="center"><img alt="" src="../../img/课程安排.png"
				width="100%;" /></td>
		</tr>
	</table>
	<div style="background-color: white; max-width: 710px;"
		class="container">
		<table style="max-width: 600px;" class="container">
			<tr style="height: 40px;"></tr>
			<tr>
				<td style="font-size: 30px; font-weight: bold;  font-family: 'myfont1';"><font
					color="#000000">A级（上）</font></td>
			</tr>
			<tr style="height: 10px;"></tr>
			<tr>
				<td><font style="line-height: 25px;font-size:18px; font-family: 'myfont2';" >第1周：做选择（一）：</font>面临多个选择，要如何做出更好的决定呢？
				</td>
			</tr>
			<tr>
				<td><font style="line-height: 25px;font-size:18px; font-family: 'myfont2';" >第2周：相同或不同:</font>学会认同自己的选择，并尊重他人的选择。</td>
			</tr>
			<tr>
				<td ><font style="line-height: 25px;font-size:18px; font-family: 'myfont2';" >第3周：必须的和想要的（一）：</font>选择有主次，要学会判断。</td>
			</tr>
			<tr>
				<td ><font style="line-height: 25px;font-size:18px; font-family: 'myfont2';" >第4周：先与后：</font>在做想做的事之前，可能需要先完成其他事。</td>
			</tr>
			<tr>
				<td ><font style="line-height: 25px;font-size:18px; font-family: 'myfont2';" >第5周：延迟满足：</font>有时需要等待才能得到我们想要的。</td>
			</tr>
			<tr>
				<td ><font style="line-height: 25px;font-size:18px; font-family: 'myfont2';" >第6周：画出三个选择：</font>选择现在购买，还是将来购买？
				</td>
			</tr>
			<tr style="height: 30px;"></tr>
			<tr>
				<td style="font-size: 30px; font-weight: bold; font-family: 'myfont1';"><font
					color="#000000">A级（下）</font></td>
			</tr>
			<tr style="height: 10px;"></tr>
			<tr>
				<td ><font style="line-height: 25px;font-size:18px; font-family: 'myfont2';" >第1周：我们社会中的不同角色：</font>探索各种社会职业。
				</td>
			</tr>
			<tr>
				<td><font style="line-height: 25px;font-size:18px; font-family: 'myfont2';" >第2周：社会帮手好朋友：</font>体验各种情景中的社会职业。</td>
			</tr>
			<tr>
				<td ><font style="line-height: 25px;font-size:18px; font-family: 'myfont2';" >第3周：帮手们的环城行（一）：</font>“拜访”那些给我们提供帮助的人们。</td>
			</tr>
			<tr>
				<td ><font style="line-height: 25px;font-size:18px; font-family: 'myfont2';" >第4周：赚钱：</font>努力工作，我可以赚钱啦！
				</td>
			</tr>
			<tr>
				<td><font style="line-height: 25px;font-size:18px; font-family: 'myfont2';" >第5周：借用、交易、礼物游戏：</font>有借有还，诚信当先。</td>
			</tr>
			<tr>
				<td ><font style="line-height: 25px;font-size:18px; font-family: 'myfont2';" >第6周：交易游戏：</font>玩具换玩具，食品换食品，等价交换才公平。</td>
			</tr>
			<tr>
				<td><font style="line-height: 25px;font-size:18px; font-family: 'myfont2';" >第7周："谢谢"罐子：</font>对待好朋友，公平诚实最重要。</td>
			</tr>
			<tr>
				<td><font style="line-height: 25px;font-size:18px; font-family: 'myfont2';" >第8周：独享还是共享？：</font>哪些可以分享，哪些不能？
				</td>
			</tr>
			<tr>
				<td><font style="line-height: 25px;font-size:18px; font-family: 'myfont2';" >第9周：安全的选择和结果：</font>选择什么才安全？</td>
			</tr>
			<tr>
				<td ><font style="line-height: 25px;font-size:18px; font-family: 'myfont2';" >第10周：结果：好与坏：</font>接受不同选择的结果
				</td>
			</tr>
			<tr>
				<td ><font style="line-height: 25px;font-size:18px; font-family: 'myfont2';" >第11周：保证安全，人人受益</font>：保护我们的安全信号。
				</td>
			</tr>
			<tr>
				<td><font style="line-height: 25px;font-size:18px; font-family: 'myfont2';" >第12周：操场安全图：</font>做一本我们的安全书吧！</td>
			</tr>
			<tr style="height: 60px;"></tr>
		</table>
	</div>
	<table style="max-width: 710px;" class="container">
		<tr>
			<td><img alt="img-responsive" src="../../img/近期课程.png"
				data-toggle="modal" data-target="#jinqi" width="100%;" /></td>
		</tr>
		<tr>
			<td><img alt="img-responsive" src="../../img/课程预告.png"
				data-toggle="modal" data-target="#yugao" width="100%;" /></td>
		</tr>
		<tr>
			<td><img alt="img-responsive" src="../../img/课程回顾.png"
				width="100%;" /></td>
		</tr>
	</table>


	<!-- start footer -->
	<div th:replace="partial/footer-new" class="footer"></div>
	<!-- END FOOTER -->

	<!-- Load javascripts at bottom, this will reduce page load time -->
	<!-- BEGIN CORE PLUGINS (REQUIRED FOR ALL PAGES) -->
	<!--[if lt IE 9]>
    <script src="../../assets/global/plugins/respond.min.js"></script>
    <![endif]-->
	<script src="../../assets/global/plugins/jquery.min.js"
		type="text/javascript"></script>
	<script src="../../assets/global/plugins/jquery-migrate.min.js"
		type="text/javascript"></script>
	<script src="../../assets/global/plugins/bootstrap/js/bootstrap.min.js"
		type="text/javascript"></script>
	<script src="../../assets/frontend/layout/scripts/back-to-top.js"
		type="text/javascript"></script>
	<!-- END CORE PLUGINS -->

	<!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
	<script
		src="../../assets/global/plugins/fancybox/source/jquery.fancybox.pack.js"
		type="text/javascript"></script>
	<!-- pop up -->
	<script
		src="../../assets/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.min.js"
		type="text/javascript"></script>
	<!-- slider for products -->

	<!-- BEGIN RevolutionSlider -->
	<script
		src="../../assets/global/plugins/slider-revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js"
		type="text/javascript"></script>
	<script
		src="../../assets/global/plugins/slider-revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js"
		type="text/javascript"></script>
	<script src="../../assets/frontend/pages/scripts/revo-slider-init.js"
		type="text/javascript"></script>
	<!-- END RevolutionSlider -->

	<script src="../../assets/frontend/layout/scripts/layout.js"
		type="text/javascript"></script>

	<script type="text/javascript">
		jQuery(document).ready(function() {
			Layout.init();
			Layout.initOWL();
			RevosliderInit.initRevoSlider();
			Layout.initTwitter();
			//Layout.initFixHeaderWithPreHeader(); /* Switch On Header Fixing (only if you have pre-header) */
			//Layout.initNavScrolling(); 
		});
	</script>
	<!-- END PAGE LEVEL JAVASCRIPTS -->

	<div class="modal fade container" id="jinqi" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
		style="background-color: transparent; border: 5px solid; max-width: 710px;">
		<div class="modal-dialog container">

			<!-- <div class="modal-header">
					<button type="button" class="close" id="buttonclose"
						data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">提示</h4>
				</div> -->
			<div style="height: 130px;"></div>
			<table style="max-width: 600px;background-color: white" class="">
				<tr style="height: 40px;">
					
					<td style="text-align: right;">
					<img alt="" src="../../img/课程-恢复的 副本 5.png" width="80%" style="float: left;" />
					<a
						href="javascript:window.close()" data-dismiss="modal"
						aria-hidden="true"><img alt="" src="../../img/课程X.png" width="20%;" /></a>
					</td>
				</tr>
				<!-- <tr>
					<td><img alt="" src="../../img/课程-恢复的 副本 5.png" width="80%" /></td>
				</tr> -->
				<tr height="20px;"></tr>
				<tr>
					<td style="font-size: 30px; font-weight: bold; font-family: 'myfont1';text-align: center;"><font
						color="#000000">A级（上）</font></td>
				</tr>
				<tr style="height: 10px;"></tr>
				<tr>
					<td style=" padding-left:140px;line-height: 25px;font-size:18px; font-family: 'myfont2';text-align:left;">第1周：做选择（一）</td>
				</tr>
				<tr>
					<td style="padding-left:140px;line-height: 25px;font-size:18px; font-family: 'myfont2';text-align:left;">第2周：相同或不同</td>
				</tr>
				<tr>
					<td style="padding-left:140px;line-height: 25px;font-size:18px; font-family: 'myfont2';text-align:left;">第3周：必须的和想要的（一）</td>
				</tr>
				<tr>
					<td style="padding-left:140px;line-height: 25px;font-size:18px; font-family: 'myfont2';text-align:left;">第4周：先与后</td>
				</tr>
				<tr>
					<td style="padding-left:140px;line-height: 25px;font-size:18px; font-family: 'myfont2';text-align:left;">第5周：延迟满足</td>
				</tr>
				<tr>
					<td style="padding-left:140px;line-height: 25px;font-size:18px; font-family: 'myfont2';text-align:left;">第6周：画出三个选择</td>
				</tr>
				<tr style="height: 30px;"></tr>
			</table>



		</div>

	</div>
		<div class="modal fade container" id="yugao" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
		style="background-color: transparent; border: 5px solid; max-width: 710px;">
		<div class="modal-dialog container">

			<!-- <div class="modal-header">
					<button type="button" class="close" id="buttonclose"
						data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">提示</h4>
				</div> -->
			<div style="height: 130px;"></div>
			<table style="max-width: 600px;background-color: white" class="">
				<tr style="height: 40px;">
					
					<td style="text-align: right;">
					<img alt="" src="../../img/课程-恢复的 副本 5.png" width="80%" style="float: left;" />
					<a
						href="javascript:window.close()" data-dismiss="modal"
						aria-hidden="true"><img alt="" src="../../img/课程X.png" width="20%;" /></a>
					</td>
				</tr>
				<!-- <tr>
					<td><img alt="" src="../../img/课程-恢复的 副本 5.png" width="80%" /></td>
				</tr> -->
				<tr height="20px;"></tr>
				<tr>
					<td style="font-size: 30px; font-weight: bold; font-family: 'myfont1';text-align: center;"><font
						color="#000000">A级（下）</font></td>
				</tr>
				<tr style="height: 10px;"></tr>
				<tr>
					<td style="padding-left:140px;line-height: 25px;font-size:18px; font-family: 'myfont2';text-align:left;">第1周：我们社会中的不同角色：</td>
				</tr>
				<tr>
					<td style="padding-left:140px;line-height: 25px;font-size:18px; font-family: 'myfont2';text-align:left;">第2周：社会帮手好朋友：</td>
				</tr>
				<tr>
					<td style="padding-left:140px;line-height: 25px;font-size:18px; font-family: 'myfont2';text-align:left;">第3周：帮手们的环城行（一）：</td>
				</tr>
				<tr>
					<td style="padding-left:140px;line-height: 25px;font-size:18px; font-family: 'myfont2';text-align:left;">第4周：赚钱：</td>
				</tr>
				<tr>
					<td style="padding-left:140px;line-height: 25px;font-size:18px; font-family: 'myfont2';text-align:left;">第5周：借用、交易、礼物游戏：</td>
				</tr>
				<tr>
					<td style="padding-left:140px;line-height: 25px;font-size:18px; font-family: 'myfont2';text-align:left;">第6周：交易游戏：</td>
				</tr>
				<tr>
					<td style="padding-left:140px;line-height: 25px;font-size:18px; font-family: 'myfont2';text-align:left;">第7周："谢谢"罐子：</td>
				</tr>
				<tr>
					<td style="padding-left:140px;line-height: 25px;font-size:18px; font-family: 'myfont2';text-align:left;">第8周：独享还是共享？：</td>
				</tr>
				<tr>
					<td style="padding-left:140px;line-height: 25px;font-size:18px; font-family: 'myfont2';text-align:left;">第9周：安全的选择和结果：</td>
				</tr>
				<tr>
					<td style="padding-left:140px;line-height: 25px;font-size:18px; font-family: 'myfont2';text-align:left;">第10周：结果：好与坏：</td>
				</tr>
				<tr>
					<td style="padding-left:140px;line-height: 25px;font-size:18px; font-family: 'myfont2';text-align:left;">第11周：保证安全，人人受益：</td>
				</tr>
				<tr>
					<td style="padding-left:140px;line-height: 25px;font-size:18px; font-family: 'myfont2';text-align:left;">第12周：操场安全图：</td>
				</tr>
				<tr style="height: 30px;"></tr>
			</table>



		</div>

	</div>
</body>
</html>